{% extends "private/_base.html" %}
{% block private_content %}
    {% if page_obj %}

    <!-- title and new space button -->
    <div class="flex items-center justify-between mb-2">
        <h1 class="text-2xl font-bold text-gray-800">Your Spaces</h1>

    </div>
    
    <div class="w-full py-1 mb-2 border-t border-gray-300"></div>
    
    <section class="flex text-gray-600 body-font">
        <div class="container px-5 mx-auto">
            <div class="flex flex-wrap -m-4">
                <!-- For Loop for spaces cards -->
                {% for space in page_obj %}
                <div class="flex w-full p-4 xl:w-1/3 md:w-1/2"> 
                    <div class="flex flex-col p-5 pt-3 transition-transform duration-150 ease-in-out border border-gray-200 shadow-md grow hover:shadow-xl"> <!-- card --> 


                        <!-- space settings dropdown -->              
                        <div class="flex justify-end mt-auto">
                            {% include 'private/space/components/space_actions_dropdown.html' with space=space space_num=forloop.counter %}
                        </div>

                        <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ space.title }}</h5>
                        
                        
                        <div class="pl-2 my-2 text-sm font-medium text-gray-500 border-l-2 border-gray-300 line-clamp-3">
                            {{ space.instructions }}                                
                        </div>
                        
       
                        <div class="flex justify-end mt-auto">
                            {% url 'receiver_space_detail' space.uuid as space_detail_url %}
                            {% include "components/buttons/generic.html" with button_text="Summary" href=space_detail_url extra_classes="mr-1.5" %}

                                {% url 'receiver_space_detail' space.uuid as space_detail_url %}
                                {% include "components/buttons/generic.html" with button_text="Edit" href=space_detail_url|add:"?status=edit" extra_classes="ml-1.5" %}
                                

                            </div> 
                        
                    
                        
                    </div>
                </div>
                {% endfor %}

               
                
            </div>
        </div>
    </section>

        {% include 'components/pagination.html' with objs_name='Spaces' %}
        {% else %}
        <div class="flex flex-col items-center justify-center mt-10">
            <p class="mb-3 text-2xl text-center text-gray-500">You have not created any spaces yet</p>
            {% url 'space_create' organization.uuid as space_create_url %}
            {% include 'components/buttons/generic.html' with button_text="Create your first space" href=space_create_url%}
            <p class="m-3 text-center text-gray-500"> Don't know where to start? <a href="{{ doc_url }}" target="_blank" class="hover:underline text-blue-500">Read our guide</a></p>
        </div>
    {% endif %}

    {% endblock private_content %}


