{% extends "private/_base.html" %}
{% load i18n %}
{% block private_content %}
    {% include 'private/company/detail/company_name.html' with form=company.name_form %}
    
    {% include "components/tabs_menu.html" with tabs_data=company_tab  pk=company.pk %}

    {% block company_content %}
        {% include 'private/company/detail/company_form.html' with form=company.form %}
        
        {% include 'private/company/detail/group/list.html' %}

    {% endblock company_content %}
{% endblock %}