{% extends "private/_base.html" %}
{% load i18n %}
{% block private_content %}
{#    <h2 class="bg-transparent text-gray-900 p-2.5 w-5/6 border-0 text-4xl font-bold">#}
{#        <label for="id_title" class="hidden">Company name</label>#}
{#        {{ company.form.name }}#}
{#        {% comment %} <input type="text" name="title" value="{{ space.title }}" placeholder="Spazio senza titolo*"#}
{#               hx-trigger="blur changed delay:500ms"#}
{#               hx-post="{% url 'space_edit' space.pk %}"#}
{#               class="bg-transparent text-gray-900 p-2.5 w-5/6 border-t-0 border-x-0 border-b border-b-black transition-all duration-300 text-4xl    hover:border-black #hover:text-4xl    focus:outline-none focus:ring-0 font-bold"#}
{#               required="" id="id_title">{% endcomment %}#}
{#    </h2>#}
    {% include 'private/company/detail/company_name.html' with form=company.name_form %}


    <!-- TABS MENU-->
    {% include "private/tabs_menu.html" with tabs_data=company_tab  pk=company.pk %}

    {% block company_content %}
        {% include 'private/company/detail/company_form.html' with form=company.form %}
        {% comment %} {% translate 'Add custom field' as button_text %}
        {% url 'company_field_create' company.pk as field_create_url %} {% endcomment %}



        {% url 'company_field_create_modal' company.pk as get_url %}
        {% translate "Add custom field" as button_text %}
        {% include 'components/buttons/add.html' with button_text=button_text hx_get=get_url hx_trigger="click" hx_target="#htmx-modal" hx_swap="innerHTML"%}
        
        {% comment %} {% include "components/buttons/generic.html" with button_text=button_text button_id="field_crate_modal_button" extra_classes="w-full inline-flex" %}

        {% include "components/buttons/generic.html" with button_text=button_text hx_post=field_create_url hx_target='.custom-fields-container' hx_swap='beforeend' extra_classes="my-2" %} {% endcomment %}
        <div id="custom_field_container_id" class="custom-fields-container">
            {% for field in company.fields.all %}
                {% include 'private/company/detail/company_field.html' with form=field.form %}
            {% endfor %}
        </div>

    {% endblock company_content %}
{% endblock %}