<form>
    {% csrf_token %}
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
        <div class="mx-2">
            <div class="hidden">
                {{form.label}}
            </div>
            <label for="{{ form.value.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.label.value }}
            </label>
            {{ form.value }}
            {% include 'components/forms/error_widget.html' with errors=form.value.errors %}
        </div>
</form>