{% extends 'receiver/_base.html' %}
{% load static %}
{% block content %}
    <div class="flex flex-col justify-center h-full pt-14">

        {% block public_content %}
            <!-- Main Content Container -->
            <div class=" mx-auto flex justify-center h-full">
                <!-- Image Container -->
                <div class="w-5/12 flex justify-center items-center bg-white">
                    <div class="max-w-lg w-full">
                        <img src="{% static 'images/signup.png' %}" alt="Descriptive Alt Text">
                    </div>
                </div>

                <div class="flex justify-center items-center bg-white w-[5%] min-w-[10px] max-w-[30px]">
                    <!-- Empty div for spacing -->
                </div>
                
                <!-- Right Side Content Container -->
                <div class="w-5/12 flex justify-center items-center">
                    {% block right_container_content %}

                    {% endblock right_container_content%}
                </div>

            </div>
        {% endblock %}
    </div>
{% endblock %}