{% extends 'receiver/public/_base.html' %}
{% load static %}

{% block right_container_content %}
    <div class="max-w-lg w-full">
        <p>
            If you have not created an account yet, then please <a href="{{ signup_url }}">sign up</a> first.
        </p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% include "receiver/components/submit_button.html" with button_text="Log in" extra_classes="additional-css-classes" %}
        </form>
        {% include "receiver/public/snippets/login.html" with page_layout="entrance" %}
    </div>
{% endblock right_container_content%}