{% extends 'receiver/public/_base.html' %}
{% load static %}
{% block right_container_content %}
<div class="max-w-lg w-full">
    <h1 class="text-2xl font-semibold mb-4">Reset Password </h1>
    

    <div class="flex my-4">
        <span class="text-gray-600">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.            
        </span>
    </div>
    
    <form action="." method="post" class="w-full">
        {% csrf_token %}
    
        <!-- Display non-field errors -->
        {% if form.non_field_errors %}
            <div>
                {% for error in form.non_field_errors %}
                    <p class = "bg-red-300 text-sm my-1 p-1">{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}
    
        <!-- Render Email Field -->
        <div>
            <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-1 mt-1">{{form.email.label}}</label>
            {{ form.email}}
            {% if form.email.help_text %}
                <div class="">{{ form.email.help_text }}</div>
            {% endif %}
            {% if form.email.errors %}
                <div>
                    {% for error in form.email.errors %}
                        <p class="bg-red-300 text-sm my-1 p-1">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div> 
    
        <!-- Submit Button -->
        {% include "receiver/components/buttons/submit.html" with button_text="Reset password" %}
    </form>
    
    
</div>
{% endblock right_container_content%}