{% extends 'receiver/public/_base.html' %}
{% load static %}

{% block right_container_content %}
    <div class="max-w-lg w-full">
        <p>
            Already have an account? Then please <a href="{{ login_url }}">sign in</a>.
        </p>
        <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% include "receiver/components/submit_button.html" with button_text="Sign up" extra_classes="additional-css-classes" %}
        </form>
        {% include "receiver/public/snippets/login.html" with page_layout="entrance" %}
    </div>
{% endblock %}