{% extends 'public/_base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block public_content %}

    <!-- Top Bar -->
    <div class="p-1 bg-gray-100">
        <div class="flex justify-center max-w-4xl mx-auto">
            {% if sender %}
                <p class="pr-3 text-xs text-gray-700">
                    <strong>{% translate 'Accessing as:' %}</strong> {{ sender.email }}</p>
            {% else %}
                <p class="pr-3 text-xs text-gray-700"><strong>{% translate 'Accessing via public link' %}</strong></p>
            {% endif %}
            <p class="text-xs text-gray-700"><strong>{% translate 'Invited by:' %}</strong> {{ space.user.email }}</p>
        </div>
    </div>

    <!-- Title Bar  -->
    <div class="bg-center bg-cover h-25 bg-marian-blue-200">
        <div class="flex-col max-w-4xl px-10 mx-auto">
            <div class="flex flex-wrap items-center justify-between h-full max-w-screen-xl">
                <!-- company logo-->
                <a href="{% url 'generic_home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo.png' %}" alt="logo" class="w-[120px] mt-2">
                </a>
                {% if not request.user.is_authenticated %}
                    <div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                        <div class="justify-end md:me-0 md:inline-flex">
                            {% include 'components/language_selector.html' %}
                        </div>
                    </div>
                {% endif %}

            </div>
            <label for="{{ space.title.id_for_label }}"
                   class="block pt-3 text-xs font-bold text-gray-900 dark:text-white">{% translate 'Space' %}</label>
            <h1 class="pb-3 text-3xl font-bold text-black">{{ space.title }}</h1>
        </div>

    </div>
    {% include "components/tabs_menu.html" with tabs_data=sender_tab  pk=sender.pk pk_1=space.pk %}
    {% block sender_content %}
        <div class="w-full max-w-4xl px-10 pb-2 mx-auto">

            {% for space_section in space.sections_position_sorted %}
                {% if space_section.text_section %}
                {% if space_section.text_section.title %}
                    <h2 class="mt-2 mb-4 text-2xl font-bold border-b">
                        {{ space_section.text_section.title }}
                    </h2>
                {% endif %}
                {% if space_section.text_section.content %}
                    <div class= "mb-3 text-sm">                        
                        {{ space_section.text_section.content }}
                    </div>
                {% endif %}
                {% elif space_section.file_section %}
                    {% if space_section.file_section.file %}

                    <div class="flex items-start p-3 mb-3 space-x-4">
                        <!-- Thumbnail -->
                        <a href="{{ space_section.file_section.file.url }}" download target="_blank">
                            {% include 'sender/file_thumbnail.html' with file=space_section.file_section.file %}
                        </a>
                        <!-- Content Container -->
                        <div class="flex flex-col flex-grow">
                            <div class="mb-1.5">
                          <!-- Title -->
                          <h2 class="text-lg font-semibold">{{space_section.file_section.title}}</h2>
                          <!-- Subtitle -->
                          <p class="{% if space_section.file_section.title %} text-xs font-medium text-gray-600 {% else %} text-lg font-semibold {% endif %}">{{space_section.file_section.file.original_name}}</p>
                            </div>
                          <!-- Description -->
                          <p class="text-sm text-gray-800">{{space_section.file_section.description}}</p>
                        </div>
                      </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    {% endblock sender_content %}
    <!-- Main Content -->


{% endblock %}
