{% load custom_tags %}
{% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}


<form id="space-form" action="." method="POST">
    {% csrf_token %}

    <!-- TITLE -->
    <div class="mb-6 mt-2">
        <label for="{{ form.title.id_for_label }}"
        class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.title.label }} </label>
        {{ form.title }}
        {% include 'components/forms/error_widget.html' with errors=form.title.errors %}
    </div>

    <!-- INVITATIONS -->
    <div class="mb-6">
        <h3 class="mb-2 text-xl font-medium text-gray-900 dark:text-white">Invitations</h3>
        <div id="email-input-container" class="my-1 border-0">
            <!-- Text input field
            <input type="text" id="email-input" class="placeholder-gray-500 my-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Type or paste emails addressess of invitees" />-->
            {{ form.email_input }}
            <!-- Tags will appear here, below the input field -->
            <div id="tags" class="flex flex-wrap gap-2 my-1"></div>
            <!-- Error message-->
            {% include 'components/forms/error_widget.html' with errors=form.senders_emails.errors %}
            <!-- Hidden input for form submission -->
            {{ form.senders_emails }}

        </div>

                <div class="flex items-center h-5">
            {{ form.is_public }}
                                    <label for="{{ form.is_public.id_for_label }}"
        class="text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">{{ form.is_public.label }}</label>
        </div>

    </div>



    <!-- INSTRUCTIONS -->
    <div class="mb-6">
        <h3 class="mb-2 text-xl font-medium text-gray-900 dark:text-white">Instructions</h3>
        <label for="{{ form.instructions.id_for_label }}"
        class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.instructions.label }} </label>
        {{ form.instructions }}
        {% include 'components/forms/error_widget.html' with errors=form.instructions.errors %}
    </div>

    <!-- DEADLINE -->
    <div class="mb-6">
        <h3 class="mb-2 text-xl font-medium text-gray-900 dark:text-white">Deadline</h3>
        <label for="{{ form.deadline.id_for_label }}"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.deadline.label }} </label>
        {{ form.deadline }}
        {% include 'components/forms/error_widget.html' with errors=form.deadline.errors %}
    </div>
    {{ requests.management_form }}
    <div id="requests-container">
        <h3 class="mb-2 text-xl font-medium text-gray-900 dark:text-white">Requests</h3>
        {% for req in requests %}
            {% include "components/forms/request.html" with req=req %}
        {% endfor %}
    </div>
    {% include "components/buttons/generic.html" with button_text="Add Request" button_id="add-request-btn" %}
    <div class="flex items-start mb-6">
        <div class="flex items-center h-5">
            {{ form.is_active }}
        </div>
        <label for="{{ form.is_active.id_for_label }}"
        class="text-xs font-medium text-gray-900 ms-2 dark:text-gray-300">{{ form.is_active.label }}</label>
    </div>

    {% include "components/buttons/submit.html" with button_text="Create space" %}
</form>