@font-face {
  font-family: 'Lato';
  src: url('/static/src/fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: bold;
  src: url('/static/src/fonts/Lato-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-display: swap;
  font-style: normal;
  font-weight: 600;
  src: url('/static/src/fonts/Lato-Bold.ttf') format('truetype');
}
