{% load l10n %}
{% if sender.space.deadline %}
<tr>
        <td style="padding-top:10px; padding-left:20px;font-family:'Helvetica neue', Helvetica, Arial, Verdana, sans-serif;font-weight:bold;font-size:20px;line-height:35px;color:#253858">
            <p style="text-decoration:none;">
            You have time until {{ sender.space.deadline }} {{ sender.space.deadline|date:"T" }}
            </p>
                {% if sender.space.upload_after_deadline is False %}

                <p style="font-size:14px; line-height:20px; color:#FF0000;  font-style:italic;">
            Uploads will not be accepted after the deadline
        </p>   
                                {% endif %}

        </td>



</tr>

    {% if calendar_url %}

<tr>
<td style="padding-top:10px; padding-left:20px;font-family:'Helvetica neue', Helvetica, Arial, Verdana, sans-serif;font-weight:bold;font-size:20px;line-height:35px;color:#253858;">
        <a style="text-align:center;" href="{{ calendar_url }}">Add the deadline to your calendar</a>
</td>
</tr>
            {% endif %}

{% endif %}
