{% load l10n %}
{% if sender.space.deadline %}
<tr>
        <td style="padding:10px 0;">
            You have time until {{ sender.space.deadline }} {{ sender.space.deadline|date:"T" }} {% if calendar_url %}(<a style="text-align:center;" href="{{ calendar_url }}">Add the deadline to your calendar</a>){% endif %} 
                {% if sender.space.upload_after_deadline is False %}

                <br><span style="color:#FF0000;  font-style:italic;">
            Uploads will not be accepted after the deadline
        </span>   
                                {% endif %}

        </td>

</tr>
    

{% endif %}
