{% extends "private/_base.html" %}
{% load static i18n %}
{% block private_content %}
    {% include 'private/request/request_title_form.html' with form=kezyy_request.title_form %}

    {% include "components/tabs_menu.html" with tabs_data=request_tab  pk=kezyy_request.pk %}

    {% block request_content %}
        {% include 'private/request/request_instructions_form.html' with form=kezyy_request.instructions_form %}
        {% include 'private/request/sortable_elements/container.html' with content_template='private/request/input_request_content.html' sorted_elements=kezyy_request.input_requests_position_sorted %}
    {% endblock request_content %}
{% endblock %}