{% extends "private/_base.html" %}
{% load static i18n %}
{% block private_content %}
    {{ file_name_tags |json_script:"file-name-tags" }}

    <!-- Display non-field errors -->
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}

    <form id="request-form" action="" method="POST" class="max-w-screen-md" class="request-form">
        {% csrf_token %}

        <!-- TITLE -->
        <div class="mb-6">
            {{ form.title }}
        </div>
        <div class="mb-3">
            <div class="flex items-center mb-2 space-x-2">
                <label for="{{ form.instructions.id_for_label }}"
                       class="block text-sm font-medium text-gray-900 dark:text-white">{{ form.instructions.label }} </label>
                {% include 'components/tooltip.html' with content=form.instructions.help_text target_prefix='requests' target=form.instructions.name %}
            </div>
            {{ form.instructions }}
            {% include 'components/forms/error_widget.html' with errors=form.instructions.errors %}
        </div>

        <div class="flex justify-end {% if action == 'edit' %} sticky bottom-4 {% endif %}">
            {% include "components/buttons/submit_with_loader.html" with button_text=submit_text loading="True" extra_classes="min-w-[100px] min-h-[42px]" %}
            {% if False %}<span class="hidden min-w-[100px] min-h-[42px]"></span>{% endif %}
        </div>

    </form>
    {% url 'upload_request_create' kezyy_request.pk as upload_request_create_url %}
    {% translate 'Add file request' as button_text %}
    {% include "components/buttons/generic.html" with button_text=button_text extra_classes="my-2" hx_get=upload_request_create_url hx_target="#requests-container" hx_swap="beforeend" %}
    {% url 'text_request_create' kezyy_request.pk as text_request_create_url %}
    {% translate 'Add text request' as button_text %}
    {% include "components/buttons/generic.html" with button_text=button_text extra_classes="my-2" hx_get=text_request_create_url hx_target="#requests-container" hx_swap="beforeend" %}
    <form id="requests-container"
          class="sortable"
          hx-post="{% url 'request_update_order' kezyy_request.pk %}"
          hx-indicator="#loading-indicator-sort"
          hx-trigger="end">
        {% csrf_token %}
        {% block sorted_requests %}

            <div id="loading-indicator-sort"
                 class="flex items-center justify-center m-auto opacity-1 my-htmx-indicator">
                <div role="status" class="flex spinner ml-0.5">
                    {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            {{ kezyy_request }}
            {% for input_request in kezyy_request.input_requests_position_sorted %}
                {% include 'private/request/input_request.html' with input_request=input_request %}

            {% endfor %}
        {% endblock sorted_requests %}

    </form>
    {% comment %}
    <form id="requests-container" class="sortable" hx-post="{% url 'request_update_order' kezyy_request.pk %}"
          hx-trigger="end from:document">
        {% csrf_token %}
        {% for input_request in kezyy_request.input_requests_position_sorted %}
            <div>
                {{ input_request.pk }}
            </div>

        {% endfor %}


    </form>
{% endcomment %}
{% endblock %}
