{% extends "private/_base.html" %} 
{% load static i18n %}
{% block private_content %}
    {{ file_name_tags |json_script:"file-name-tags" }}

    <!-- Display non-field errors -->
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}

    <form id="request-form" action="" method="POST" class="max-w-screen-md" class="request-form">
        {% csrf_token %}

        <!-- TITLE -->
        <div class="mt-2 mb-6">
            <div class="flex">
                <label for="{{ form.title.id_for_label }}"
                       class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.title.label }} </label>
                {{ form.title }}
                {% include 'components/tooltip.html' with content=form.title.help_text target=form.title.name placement="bottom" %}
            </div>
            {% include 'components/forms/error_widget.html' with errors=form.title.errors %}
        </div>

        <!-- INSTRUCTIONS -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <label for="{{ form.instructions.id_for_label }}"
                       class="block text-sm font-medium text-gray-900 dark:text-white">{{ form.instructions.label }} </label>
                {% include 'components/tooltip.html' with content=form.instructions.help_text target_prefix='requests' target=form.instructions.name %}
            </div>
            {{ form.instructions }}
            {% include 'components/forms/error_widget.html' with errors=form.instructions.errors %}
        </div>
    </form>

    <div class="flex items-center mb-2 space-x-2">
        <h3 class="text-xl font-medium text-gray-900 dark:text-white">{% translate 'Input fields' %}</h3>
        {% translate "Add input fields to your request below" as content %}
        {% include 'components/tooltip.html' with content=content%}
    </div>

    

    <!-- Add buttons -->
    <div class="flex items-center gap-2">
        <!-- Line before the first button -->
        <div class="flex-grow border-t border-gray-300"></div>
    
        <!-- Button 1 -->
        <div class="min-w-[10px] inline-flex justify-center">
            {% url 'upload_request_create' kezyy_request.pk as upload_request_create_url %}
            {% translate 'text field' as button_text %}
            {% include "components/buttons/light_add_button.html" with button_text=button_text extra_classes="my-2" hx_get=upload_request_create_url hx_target="#requests-container" hx_swap="beforeend" %}
        </div>

        <!-- Line between -->
        <div class=" border-t border-gray-300 w-[30px]"></div>
    
        <!-- Button 2 -->
        <div class="min-w-[100px] inline-flex justify-center">
            {% url 'text_request_create' kezyy_request.pk as text_request_create_url %}
            {% translate 'file field' as button_text %}
            {% include "components/buttons/light_add_button.html" with  button_text=button_text extra_classes="my-2" hx_get=text_request_create_url hx_target="#requests-container" hx_swap="beforeend" %}
            {% if False %} <div class="w-[100px] hidden"></div>{% endif %} 
        </div>
    
        <!-- Line after the second button -->
        <div class="flex-grow border-t border-gray-300"></div>
    </div>





      
    <form id="requests-container flex flex-col"
          class="sortable"
          hx-post="{% url 'request_update_order' kezyy_request.pk %}"
          hx-indicator="#loading-indicator-sort"
          hx-trigger="end"
          data-accordion="collapse"
    >
        {% csrf_token %}
        {% block sorted_requests %}
            {% include 'components/custom_htmx_indicator.html' with loader_id='loading-indicator-sort' %}
            
            {% for input_request in kezyy_request.input_requests_position_sorted %}
                {% include 'private/request/input_request.html' with input_request=input_request %}
            {% endfor %}
        {% endblock sorted_requests %}

    </form>
    {% comment %}
    <form id="requests-container" class="sortable" hx-post="{% url 'request_update_order' kezyy_request.pk %}"
          hx-trigger="end from:document">
        {% csrf_token %}
        {% for input_request in kezyy_request.input_requests_position_sorted %}
            <div>
                {{ input_request.pk }}
            </div>

        {% endfor %}


    </form>
{% endcomment %}
{% endblock %}
