{% extends "private/request/base.html" %}
{% load static i18n %}
{% block request_content %}
            {% include 'private/request/request_instructions_form.html' with form=kezyy_request.instructions_form %}

    <div class="inline-flex mb-2">
        <div class="flex items-center mr-2 space-x-2">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">{% translate 'Input fields' %}</h3>
            {% translate "Add input fields to your request below" as content %}
            {% include 'components/tooltip.html' with content=content %}
        </div>
        {% include 'components/custom_htmx_indicator.html' with loader_id='loading-indicator-sort' %}
    </div>


    {% include 'private/request/add_buttons.html' %}


    <form id="requests-container"
          class="sortable"
          hx-post="{% url 'request_update_order' kezyy_request.pk %}"
          hx-indicator="#loading-indicator-sort"
          hx-trigger="end"
          data-accordion="collapse"
    >
        {% csrf_token %}
        <div  hx-get="{% url 'request_set_order' kezyy_request.pk %}"
        hx-indicator="#loading-indicator-sort"
        hx-trigger="update_order from:body">
            {% block sorted_requests %}
                {% for input_request in kezyy_request.input_requests_position_sorted %}
                    {% include 'private/request/input_request.html' with input_request=input_request %}
                {% endfor %}
            {% endblock sorted_requests %}
        </div>

    </form>
{% endblock request_content %}
