{% load i18n %}


<div class="flex-col my-1">
    <div class="flex">
        <div class="px-2 ml-4 mr-auto text-[0.6rem] leading-[0.75rem] bg-gray-100{% if input_request.upload_request %} text-orange-400 {% elif input_request.text_request %} text-green-400 {% endif %} rounded-tl rounded-tr">
            {% if input_request.upload_request %}
                {% translate 'file input' %}
            {% elif input_request.text_request %}
                {% translate 'text input' %}
            {% endif %}
        </div>
    </div>

    <div class="flex">
        <div class="flex-grow max-w-screen-md p-2 border-gray-100 border-r-[2px] border-y-[2px]">
            {% if input_request.upload_request %}
                {% include 'private/request/upload_request_content.html' with input_request=input_request upload_request=input_request.upload_request %}
            {% elif input_request.text_request %}
                {% include 'private/request/text_request_content.html' with input_request=input_request text_request=input_request.text_request %}
            {% endif %}
        </div>
    </div>


</div>



