{% if from_htmx %}
    {% include 'components/messages.html' %}
{% endif %}
<form id="request-instructions-form" action="" method="POST" class="max-w-screen-md request-form">
    {{ file_name_tags |json_script:"file-name-tags" }}

    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    {% csrf_token %}
    
    <!-- INSTRUCTIONS -->
    <div class="mb-3">
        <div class="flex items-center mb-2 space-x-2">
            <label for="{{ form.instructions.id_for_label }}"
                   class="block text-sm font-medium text-gray-900 dark:text-white">{{ form.instructions.label }} </label>
            {% include 'components/tooltip.html' with content=form.instructions.help_text target_prefix='requests' target=form.instructions.name %}
        </div>
        {{ form.instructions }}
        {% include 'components/forms/error_widget.html' with errors=form.instructions.errors %}
    </div>
</form>
