{% if from_htmx %}
    {% include 'components/messages.html' %}
{% endif %}
<form id="request-form" action="" method="POST" class="max-w-screen-md request-form">
    {{ file_name_tags |json_script:"file-name-tags" }}

    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    {% csrf_token %}

    <!-- TITLE -->
    <div class="mt-2 mb-6">
        <div class="flex">
            <label for="{{ form.title.id_for_label }}"
                   class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.title.label }} </label>
            {{ form.title }}
            {% include 'components/tooltip.html' with content=form.title.help_text target=form.title.name placement="bottom" %}
        </div>
        {% include 'components/forms/error_widget.html' with errors=form.title.errors %}
    </div>

    <!--TABS MENU -->
    {% include "private/tabs_menu.html" with tabs_data=request_tab  pk=kezyy_request.pk%}

    <!-- INSTRUCTIONS -->
    <div class="mb-3">
        <div class="flex items-center mb-2 space-x-2">
            <label for="{{ form.instructions.id_for_label }}"
                   class="block text-sm font-medium text-gray-900 dark:text-white">{{ form.instructions.label }} </label>
            {% include 'components/tooltip.html' with content=form.instructions.help_text target_prefix='requests' target=form.instructions.name %}
        </div>
        {{ form.instructions }}
        {% include 'components/forms/error_widget.html' with errors=form.instructions.errors %}
    </div>
</form>
