{% load custom_tags %}
<div class="inline-flex w-full">
    <div class="flex-grow">
        {{ text_request.title }}
    </div>
    {% render_input_request_complete_toggle input_request %}
    {% render_input_request_activate_toggle input_request %}

</div>

<div class="text-request-content flex justify-between">
    {% if text_request.last_output %}
        {% with output=text_request.last_output content=text_request.last_output.text_output.text %}
            {% include 'private/request/output.html' with output=output content=content %}
        {% endwith %}
    {% endif %}

</div>

