{% load custom_tags %}
{% load i18n %}
<div class="inline-flex w-full mb-6">
    <div class="flex-grow">
        {{ upload_request.request_form.title }}
    </div>
    <div class="p-1 pl-2 pr-0 text-gray-500 hover:text-marian-blue-400">
    {% include 'private/request/upload_request_detail_button.html' with upload_request=upload_request %}
    </div>
</div>
<div class="upload-request-detail-container">

    {% include 'private/request/upload_request_detail.html' with upload_request=upload_request %}
</div>
