{% extends 'public/_base.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load custom_tags %}

{% block public_content %}

    <!-- Top Bar -->
    <div class="p-1 bg-gray-100">
        <div class="flex justify-center max-w-4xl mx-auto">
            {% if sender %}
                <p class="pr-3 text-xs text-gray-700">
                    <strong>{% translate 'Accessing as:' %}</strong> {{ sender.email }}</p>
            {% else %}
                <p class="pr-3 text-xs text-gray-700"><strong>{% translate 'Accessing via public link' %}</strong></p>
            {% endif %}
            <p class="text-xs text-gray-700"><strong>{% translate 'Invited by:' %}</strong> {{ space.user.email }}</p>
        </div>
    </div>
    <!-- Title Bar  -->
    <div class="bg-center bg-cover h-25 bg-marian-blue-200">
        <div class="flex-col max-w-4xl px-10 mx-auto">
            <div class="flex flex-wrap items-center justify-between h-full max-w-screen-xl">
                <!-- company logo-->
                <a href="{% url 'generic_home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="{% static 'images/logo.png' %}" class="h-8" alt="Kezyy Logo">
                </a>
                {% if not request.user.is_authenticated %}
                    <div class="flex space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">
                        <div class="justify-end md:me-0 md:inline-flex">
                            {% include 'components/language_selector.html' %}
                        </div>
                    </div>
                {% endif %}

            </div>
            <label for="{{ space.title.id_for_label }}"
                   class="block pt-3 text-xs font-bold text-gray-900 dark:text-white">{% translate 'Upload Space' %}</label>
            <h1 class="pb-3 text-3xl font-bold text-black">{{ space.title }}</h1>
        </div>

    </div>

    <!-- Main Content -->
    <div class="w-full max-w-4xl px-10 pb-2 mx-auto">
        <label for="{{ kezyy_request.title.id_for_label }}"
               class="block pt-3 text-xs font-bold text-gray-900 dark:text-white">{% translate 'Request' %}</label>
        <h1 class="pb-3 text-3xl font-bold text-black">{{ kezyy_request.title }}</h1>
        <!-- Instructions Section -->
        {% if kezyy_request.instructions %}
            <div class="mt-3">
                <p class="text-sm">{{ kezyy_request.instructions|linebreaks }}</p>
            </div>
        {% endif %}

        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="accordion-open" data-accordion="open">
                {% include 'components/forms/error_widget.html' with errors=formset.non_form_errors %}

                {{ formset.management_form }}


                {% for form in formset.forms reversed %}
                    {{ form.errors }}
                    {{ form.non_field_errors }}
                    {% if form.upload_request %}
                        {% if form.upload_request.destination.alive %}
                            <div class="mb-2 border border-gray-300">


                                {{ form.request_uuid }}

                                <div id="accordion-open-heading-{{ forloop.counter0 }}">

                                    <div class="flex items-center justify-between w-full font-medium focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-800 ">

                                        <div class="w-full py-1 pl-5">
                                            <span class="font-bold"> {{ form.upload_request.title }}</span>
                                        </div>

                                        <button type="button"
                                                class="flex items-center justify-end w-1/3 h-full py-2 pr-2 bg-transparent focus:outline-none focus:ring-0 hover:bg-transparent active:bg-transparent"
                                                data-accordion-target="#accordion-open-body-{{ forloop.counter0 }}"
                                                aria-expanded="true"
                                                aria-controls="accordion-open-body-{{ forloop.counter0 }}">
                                            <img data-accordion-icon src="{% static 'images/icons/chevron-down.svg' %}"
                                                 alt="chevron icon"
                                                 class="w-[18px] h-[18px]mx-auto mr-3 rotate-180 shrink-0">

                                        </button>

                                    </div>
                                </div>

                                <div id="accordion-open-body-{{ forloop.counter0 }}"
                                     class="grid grid-cols-2 p-5 request-accordion-body md:grid-cols-3"
                                     aria-labelledby="accordion-open-heading-{{ forloop.counter0 }}">
                                    <div class="mt-3">
                                        <div class="mb-2 text-lg font-medium text-gray-700 ">{% translate 'Total max size of uploads: 50MB' %}</div>

                                    </div>
                                    <div class="col-span-2 p-1 sm:col-span-1">
                                        {% if space.upload_after_deadline or not space.deadline_expired %}
                                            <div class="flex items-center justify-center w-full">
                                                <label for="{{ form.files.id_for_label }}"
                                                       class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                                                    <div class="flex flex-col items-center justify-center pt-5 pb-6">
                                                        <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400"
                                                             aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                             fill="none" viewBox="0 0 20 16">
                                                            <path stroke="currentColor" stroke-linecap="round"
                                                                  stroke-linejoin="round" stroke-width="2"
                                                                  d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                                                        </svg>
                                                        <p class="mb-2 text-sm text-center text-gray-500 dark:text-gray-400">
                                                            <span class="font-semibold">{% translate 'Click to upload' %}</span>
                                                        </p>
                                                    </div>
                                                    {{ form.files }}
                                                </label>

                                            </div>
                                            {% include 'components/forms/error_widget.html' with errors=form.files.errors %}

                                        {% endif %}
                                        <!-- files ready to be uploaded:-->
                                        <div class="flex flex-col file-tags-container">
                                            <!--tags container filled by js-->
                                        </div>
                                        <!-- Restrictions Section -->


                                    </div>

                                    <div class="col-span-2 p-1 sm:col-span-1 md:col-span-2">
                                        {% if form.upload_request.instructions %}
                                            <!-- Instructions Section -->
                                            <div class="pl-4 mb-2 text-sm border-l-2 border-marian-blue-9s00">
                                                <!-- Long Text Content (No visible label) -->
                                                {{ form.upload_request.instructions|linebreaks }}
                                            </div>
                                        {% endif %}


                                        <div class="dark:border-gray-700 dark:bg-gray-900">
                                            <div class="flex items-center mb-2 space-x-2">
                                                <h4 class="text-lg font-medium text-gray-900 dark:text-white">{{ form.notes.label }}</h4>
                                                {% include 'components/tooltip.html' with target_prefix=form.upload_request.uuid title=form.notes.label content=form.notes.help_text target=form.notes.name %}
                                            </div>
                                            {{ form.notes }}
                                            {% include 'components/forms/error_widget.html' with errors=form.notes.errors %}
                                        </div>


                                    </div>
                                    {% if form.upload_request.file_template %}
                                        <div class="flex items-center col-span-2 mb-2 md:col-span-3">
                                            <p class="mr-1">{% translate 'Use this as a reference for your upload:' %}</p>
                                            {% translate 'Template' as template_text %}
                                            {% include 'components/buttons/generic.html' with href=form.upload_request.file_template button_text=template_text target="_blank" %}
                                        </div>
                                    {% endif %}


                                </div>
                            </div>

                        {% endif %}
                    {% elif form.text_request %}
                        <div class="mb-2 border border-gray-300">
                            {{ form.request_uuid }}

                            <div id="accordion-open-heading-{{ forloop.counter0 }}">

                                <div class="flex items-center justify-between w-full font-medium focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-800 ">

                                    <div class="w-full py-1 pl-5">
                                        <span class="font-bold"> {{ form.text_request.title }}</span>
                                    </div>

                                    <button type="button"
                                            class="flex items-center justify-end w-1/3 h-full py-2 pr-2 bg-transparent focus:outline-none focus:ring-0 hover:bg-transparent active:bg-transparent"
                                            data-accordion-target="#accordion-open-body-{{ forloop.counter0 }}"
                                            aria-expanded="true"
                                            aria-controls="accordion-open-body-{{ forloop.counter0 }}">
                                        <img data-accordion-icon src="{% static 'images/icons/chevron-down.svg' %}"
                                             alt="chevron icon"
                                             class="w-[18px] h-[18px]mx-auto mr-3 rotate-180 shrink-0">

                                    </button>

                                </div>
                            </div>

                            <div id="accordion-open-body-{{ forloop.counter0 }}"
                                 class="grid grid-cols-2 p-5 request-accordion-body md:grid-cols-3"
                                 aria-labelledby="accordion-open-heading-{{ forloop.counter0 }}">

                                <div class="col-span-2 p-1 sm:col-span-1 md:col-span-2">

                                    <div class="dark:border-gray-700 dark:bg-gray-900">
                                        <div class="flex items-center mb-2 space-x-2">
                                            <h4 class="text-lg font-medium text-gray-900 dark:text-white">{{ form.text.label }}</h4>
                                            {% include 'components/tooltip.html' with target_prefix=form.text_request.uuid title=form.text.label content=form.text.help_text target=form.text.name %}
                                        </div>
                                        {{ form.text }}
                                        {% include 'components/forms/error_widget.html' with errors=form.text.errors %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="p-5"
                 hx-get="{% url 'sender_history_table' space.uuid %}?request_uuid={{ form.upload_request.uuid }}&sender_uuid={{ sender.uuid }}"
                 hx-trigger="intersect once, filesUpdated from:document"
                 hx-target="#history-table-{{ forloop.counter0 }}"
                 hx-indicator="#loading-indicator-history-table-{{ forloop.counter0 }}">
                <div class="flex items-center mb-3">
                    <h3 class="text-sm font-semibold ">{% translate 'Previous uploads' %}</h3>

                    <!-- Loading Indicator -->
                    <div id="loading-indicator-history-table-{{ forloop.counter0 }}"
                         class="items-center justify-center opacity-0 htmx-indicator">
                        <div role="status" class="ml-2 spinner">
                            {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
                <div id="history-table-{{ forloop.counter0 }}">
                </div>
            </div>

            {% render_sender_notification_activate_toggle request %}
            {% translate 'Get an email with a summary of the files uploaded' as receipt_text %}
            {% include 'components/tooltip.html' with content=receipt_text target='sender_upload_notification' %}

            {% if space.upload_after_deadline or not space.deadline_expired %}
                <div class="sticky flex justify-center bottom-4">
                    {% translate 'Confirm and Upload' as confirm_text %}
                    {% include "components/buttons/submit_with_loader.html" with button_text=confirm_text loading="True" extra_classes="min-w-[200px] min-h-[42px]" %}
                    <span class="hidden min-w-[200px] min-h-[42px]"></span>

                </div>
            {% endif %}


        </form>

    </div>
{% endblock %}
