<label class="relative inline-flex items-center cursor-pointer">
<div id="toggleBackground"   class=" bg-red-500 rounded-full text-sm px-[6px] py-[2px] inline-flex items-center justify-center">


        <input type="checkbox" id="toggleCheckbox" value="" class="sr-only peer">
    <div class="w-9 h-5 bg-{{color_off}}-400  peer-focus:outline-none peer-focus:ring-0 peer-focus:ring-{{ color_on }}-300 dark:peer-focus:ring-{{ color_on }}-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-gray-300 after:content-[''] after:absolute after:top-[6px] after:start-[8px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-{{ color_on }}-500"></div>


    <!-- Text for "active" state -->
    <div class="hidden mb-1 ml-2 font-bold text-gray-800 align-middle peer-checked:inline-block">{{text_on}}</div>

    <!-- Text for "inactive" state --> 
    <div class="inline-block mb-1 ml-2 text-gray-500 align-middle peer-checked:hidden">{{text_off}}</div>
</div>
</label>

<!-- Hidden div with specific color classes for purge -->
<div class="hidden">
    <div class="bg-orange-400 peer-focus:ring-orange-300 dark:peer-focus:ring-orange-800 peer-checked:bg-orange-600"></div>
    <div class="peer-focus:ring-marian-blue-300 dark:peer-focus:ring-marian-blue-800 peer-checked:bg-marian-blue-600"></div>
    <div class="bg-red-200 border-red-500 peer-focus:ring-red-300 dark:peer-focus:ring-red-800 peer-checked:bg-red-600 peer-checked:after:border-red-600 after:border-red-500"></div>
    <div class="text-green-800 bg-green-200 border-green-500 peer-focus:ring-green-300 dark:peer-focus:ring-green-800 peer-checked:bg-green-500 peer-checked:after:border-green-600"></div>
</div>


