{% load static %}
{% load i18n %}
<div class="mb-2 border-b border-gray-300">
    {{ form.request_uuid }}

    <div id="accordion-open-heading-{{ forloop.counter0 }}">

        <div class="flex items-center justify-between w-full font-medium focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-50 dark:hover:bg-gray-800 ">
            <div class="inline-flex flex-grow">
                <div class="inline-flex py-1 pl-5">
                    <span class="font-bold"> {{ form.text_request.title }}:</span>
                    {% include 'components/tooltip.html' with content=form.text_request.instructions trigger="click" %}
                </div>
                {% if form.text_request.last_output %}
                    <div class="py-1 pl-4 max-w-[350px] underline flex-grow overflow-hidden text-ellipsis whitespace-nowrap text-gray-600" 
                        title="{{ form.text_request.last_output.content}}">                    
                            {{ form.text_request.last_output.content }}                    
                    </div>
                {% endif %}
            </div>
              {% comment %} <div class="flex justify-between output-content" hx-get="{% url 'output_detail' output.pk %}" hx-trigger="{{ output.update_event }} from:body" hx-swap="outerHTML"> {% endcomment %}
                <div class="flex justify-between output-content" >
                    <div class="flex">
                    {% if form.text_request.last_output %}
                        {% comment %} <span>{{ output.content }}</span> {% endcomment %}
                        {% if form.text_request.last_output.status == form.text_request.last_output.OutputStatus.PENDING %}
                            {% translate 'Your submission is being checked, once approve you will see it here' as html_title%}
                            {% include 'sender/request/status_tag.html' with html_title=html_title status=form.text_request.last_output.status color="blue"%}
                        {% elif  form.text_request.last_output.status == form.text_request.last_output.OutputStatus.ACCEPTED %}
                            {% translate 'Your submission has been accepted, no further actions required' as html_title%}
                            {% include 'sender/request/status_tag.html' with html_title=html_title status=form.text_request.last_output.status color="green"%}
                        {% elif form.text_request.last_output.status == form.text_request.last_output.OutputStatus.REJECTED %}
                            {% translate 'Yout submission has not been accpted, please provide a new input' as html_title%}
                            {% include 'sender/request/status_tag.html' with html_title=html_title status=form.text_request.last_output.status feedback="fake feedback" color="red"%}
                        {% endif %}
                    {% endif %}
                        {% comment %} <span>{{ output.sender_event.notes|default_if_none:"" }}</span> {% endcomment %}

                    </div>
                </div>

          
            {% if form.text_request.last_output %}
                {% if form.text_request.last_output.status != form.text_request.last_output.OutputStatus.ACCEPTED %}
                <button type="button"
                        class="flex items-center justify-end w-[50px] h-full py-2 pr-2 bg-transparent focus:outline-none focus:ring-0 hover:bg-transparent active:bg-transparent"
                        data-accordion-target="#accordion-open-body-{{ forloop.counter0 }}"
                        aria-expanded="true"
                        aria-controls="accordion-open-body-{{ forloop.counter0 }}">
                    <img data-accordion-icon src="{% static 'images/icons/chevron-up.svg' %}"
                        alt="chevron icon"
                        class="w-[18px] h-[18px]mx-auto mr-2 shrink-0">

                </button>
                {% else %}
                    <div class="w-[50px]" ></div>
                {% endif %}
            {% else %}
                <button type="button"
                class="flex items-center justify-end w-[50px] h-full py-2 pr-2 bg-transparent focus:outline-none focus:ring-0 hover:bg-transparent active:bg-transparent"
                data-accordion-target="#accordion-open-body-{{ forloop.counter0 }}"
                aria-expanded="true"
                aria-controls="accordion-open-body-{{ forloop.counter0 }}">
                    <img data-accordion-icon src="{% static 'images/icons/chevron-up.svg' %}"
                    alt="chevron icon"
                    class="w-[18px] h-[18px]mx-auto mr-2 shrink-0">

                </button>
            {% endif %}

        </div>
    </div>
    <div id="accordion-open-body-{{ forloop.counter0 }}"
         aria-labelledby="accordion-open-heading-{{ forloop.counter0 }}" >
         {% if form.text_request.last_output %}
         {% if form.text_request.last_output.status != form.text_request.last_output.OutputStatus.ACCEPTED %}
            <div class="px-5 pt-1 pb-3">
                   
                        {{ form.text }}
                        {% include 'components/forms/error_widget.html' with errors=form.text.errors %}
                                                
            </div>
            {% endif %} 
            {% endif %} 


    </div>
</div>