{% extends "private/_base.html" %}
{% load static %}
{% load i18n %}
{% block private_content %} 

    <!-- TITLE -->   
    {% translate "Contacts" as title %}
    {% url 'contact_create' organization.pk as href %}
    {% translate 'New contact' as button_text %}
    {% include 'private/page_title.html' with title=title href=href button_text=button_text %} 

    {% comment %} <!-- ADD NEW BUTTON-->
    {% url 'contact_create' organization.pk as href %}
    {% translate 'Create new contact' as button_text %}
    {% include "components/buttons/light_add_button.html" with href=href button_text=button_text %} {% endcomment %}



    {% if page_obj %}
    <div class="w-full">
    <div class="flex text-left border-b border-gray-200">
        <div class="flex-1 p-2 font-bold min-w-[150px] shrink">
            {% translate 'Name' %}
        </div>
        <div class="flex-1 p-2 font-bold min-w-[150px] shrink">
            {% translate 'Email' %}
        </div>
        <div class="flex-1 p-2 font-bold min-w-[150px] shrink">
            {% translate 'Phone number' %}
        </div>
        <div class="flex-1 p-2 font-bold min-w-[150px] shrink">
            {% translate 'Company' %}
        </div>
        <div class="px-4 p-2 ml-auto font-bold w-[40px]">
        </div>
    </div>
    {% for contact in page_obj %}
        {% include 'private/contact/contact_row.html' with contact=contact %}
    {% endfor %}

</div> 
{% if page_obj.end_index > 1 %}
    {% translate "Contacts" as obj_name %}
    {% include 'components/pagination.html' with objs_name=obj_name %} 
{% endif %}
{% else %}
    <div class="flex flex-col items-center justify-center mt-12">
        <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no Contacts yet' %}</p>
    </div>
{% endif %}

{% endblock private_content %}





    {% comment %} {% if page_obj %}


        <div class="relative mt-3 overflow-x-auto border-t custom-scrollbar">
            <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400 scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100">
                <thead class="text-xs text-gray-700 uppercase border-b">
                <tr>
                    <th scope="col" class="px-3 py-3 min-w-[100px]">
                        {% translate 'Name' %}
                    </th>
                    <th scope="col" class="py-3 min-w-[100px]">
                        {% translate 'Email' %}
                    </th>
                    <th scope="col" class=" py-3 min-w-[100px]">
                        {% translate 'Company' %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for contact in page_obj %}
                    {% include 'private/contact/contact_row.html' with contact=contact %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'components/pagination.html' with objs_name='Contacts' %}
    {% else %}
        <div class="flex flex-col items-center justify-center mt-12">
            <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no contacts yet' %}</p>
        </div>
    {% endif %}
{% endblock private_content %} {% endcomment %}
