{% extends "private/_base.html" %}
{% load static %}
{% load i18n %}
{% block private_content %}
    <!-- title and new space button -->
    <div class="flex items-center justify-between mb-2">
        <h1 class="text-2xl font-bold text-gray-800">{% translate 'Contacts'%}</h1>
    </div>

    <a href="{% url 'contact_create_no_ajax' organization.pk %}"
       class="flex w-full p-2 text-gray-900 border-t dark:text-white">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
             stroke="currentColor" class="w-4 h-4 my-auto mr-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
        </svg>
        {% translate 'Create new contact' %}
    </a>
    {% if page_obj %}


        <div class="relative overflow-x-auto border-t custom-scrollbar">
            <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400 scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100">
                <thead class="text-xs text-gray-700 uppercase border-b">
                <tr>
                    <th scope="col" class="px-3 py-3 min-w-[100px]">
                        {% translate 'Name' %}
                    </th>
                    <th scope="col" class="py-3 min-w-[100px]">
                        {% translate 'Email' %}
                    </th>
                    <th scope="col" class=" py-3 min-w-[100px]">
                        {% translate 'Company' %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for contact in page_obj %}
                    {% include 'private/contact/contact_row.html' with contact=contact %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% include 'components/pagination.html' with objs_name='Contacts' %}
    {% else %}
        <div class="flex flex-col items-center justify-center mt-12">
            <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no contacts yet' %}</p>
        </div>
    {% endif %}
{% endblock private_content %}
