{% extends 'public/_base.html' %}
{% load static %}

{% block right_container_content %}
    <div class="max-w-lg w-full">
        <h1 class="text-2xl font-semibold mb-4">Log in </h1>
        {% include "public/snippets/login.html" with page_layout="entrance" provider_button_text="Sign in with" %}

        <!-- seprarator from social account login -->
        <div class="flex items-center justify-center my-4">
            <div class="flex-grow border-t border-gray-300"></div>
            <span class="mx-4 text-gray-600">or</span>
            <div class="flex-grow border-t border-gray-300"></div>
        </div>

        <form action="" method="post" class="w-full">
            {% csrf_token %}
        
            <!-- Display non-field errors -->
            {% include 'components/form_non_field_error_widget.html' with form=form %}

            <!-- Render Login Field -->
            <div>
                <label for="{{ form.login.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-1 mt-1">{{form.login.label}}</label>
                {{ form.login }}
                {% if form.login.help_text %}
                    <div class="">{{ form.login.help_text }}</div>
                {% endif %}
                {% include 'components/form_error_widget.html' with field=form.login %}
            </div>
        
            <!-- Render Password Field -->
            <div>
                <label for="{{ form.password.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-1 mt-1">{{form.password.label}}</label>
                {{ form.password }}
                {% if form.password.help_text %}
                    <div>{{ form.password.help_text }}</div>
                {% endif %}
                {% include 'components/form_error_widget.html' with field=form.password %}
            </div>
        
            <!-- Render Remember Checkbox -->
            <div>
                <label for="{{ form.remember.id_for_label }}" class="text-sm mt-1">
                    {{ form.remember }} {{ form.remember.label }}
                </label>
                {% if form.remember.help_text %}
                    <div>{{ form.remember.help_text }}</div>
                {% endif %}
                {% include 'components/form_error_widget.html' with field=form.remember %}
            </div>
        
            <!-- Submit Button -->
            {% include "components/buttons/submit.html" with button_text="Log in" %}
        </form>



        

        <p class="text-center text-sm">
            Do not have an account? <a href="{{ signup_url }}" class="text-blue-600 hover:text-blue-600 underline">Sign up</a>
        </p>

    </div>
{% endblock right_container_content%}