{% extends 'public/_base.html' %}
{% load static %}

{% block public_content %}
    <div class="flex flex-col w-full p-5 mx-auto my-10 border border-gray-200 shadow-sm md:mt-30 max-w-[410px]">
        <h2 class="mb-6 text-3xl font-semibold text-center text-gray-800 dark:text-white">Log in</h2>
<div class="flex w-full mx-auto">
        <form action="" method="post" class="w-full ">
            {% csrf_token %}
        
            <!-- Display non-field errors -->
            {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}

            <!-- Render Login Field -->
            <div>
                <label for="{{ form.login.id_for_label }}" class="block mt-1 mb-1 text-sm font-bold text-gray-700">{{form.login.label}}</label>
                {{ form.login }}
                {% include 'components/forms/error_widget.html' with errors=form.login.errors %}
            </div>
        
            <!-- Render Password Field -->
            <div>
                <label for="{{ form.password.id_for_label }}" class="block mt-1 mb-1 text-sm font-bold text-gray-700">{{form.password.label}}</label>
                {{ form.password }}
                {% if form.password.help_text %}
                    <div>{{ form.password.help_text }}</div>
                {% endif %}
                {% include 'components/forms/error_widget.html' with errors=form.password.errors %}
            </div>
        
            <!-- Render Remember Checkbox -->
            <div>
                <label for="{{ form.remember.id_for_label }}" class="mt-1 text-sm">
                    {{ form.remember }} {{ form.remember.label }}
                </label>
                {% if form.remember.help_text %}
                    <div>{{ form.remember.help_text }}</div>
                {% endif %}
                {% include 'components/forms/error_widget.html' with errors=form.remember.errors %}
            </div>
            <div class="flex items-center justify-center">
            <!-- Submit Button -->
            {% include "components/buttons/submit_with_loader.html" with button_text="Log in" extra_classes="w-full mt-1 min-h-[42px]" loading="True" %}
            </div>
        </form>

</div>

                <!-- seprarator from social account login -->
        <div class="flex items-center justify-center my-4">
            <div class="flex-grow border-t border-gray-300"></div>
            <span class="mx-4 text-gray-600">or</span>
            <div class="flex-grow border-t border-gray-300"></div>
        </div>
            <div class="w-full">
            {% include "public/snippets/login.html" %}
        </div>
        {% comment %}<p class="text-sm text-center">
            Do not have an account? <a href="{{ signup_url }}" class="text-blue-600 underline hover:text-blue-600">Sign up</a>
        </p>{% endcomment %}
        <!-- Beta disclaimer -->
        <div class="mx-auto flex flex-col items-center justify-center max-w-[420px] px-4 py-2 text-center border-t mt-6">
            <div class="max-w-[300px] text-sm text-gray-600 dark:text-gray-300">Kezyy is currently in beta. Access is limited to approved profiles only. Feel free to request access by clicking below.</div>
            <a href="{% url 'generic_beta_access' %}" class="cursor-pointer px-3 py-1.5 mt-2 text-xs text-white  bg-marian-blue-400 hover:bg-marian-blue-300">Request beta access</a>
        </div>

    </div>
{% endblock public_content%}