{% extends 'public/feedback.html' %}    
{% block feedback %}
{% load i18n %}

                    <h1 class="text-6xl font-bold text-gray-800">Password Reset</h1>
                    <p class="text-2xl text-gray-600">Email sent</p>
                    <p class="mt-4 mb-4 text-gray-600">We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
                    {% if request.user.is_authenticated %}
                        {% url 'spaces' as back_url %}   
                    {% else %}
                        {% url 'generic_home' as back_url %}          
                    {% endif %}       
                    {% include 'components/buttons/generic.html' with href=back_url button_text="Back to homepage"  extra_classes="max-w-[250px] mx-auto" %}
{% endblock %}