{% extends 'public/_base.html' %}
{% load static %}
{% block public_content %}
{% load static i18n %}
<div class="flex flex-col w-full p-5 mx-auto my-10 border border-gray-200 shadow-sm md:mt-30 max-w-[410px]">

    <h1 class="mb-4 text-2xl font-semibold text-center">{%  translate 'Reset Password' %}</h1>
    

    <div class="flex my-4">
        <span class="text-gray-600"> {% translate "Forgot your password? Enter your email address below, and we'll email you a link to reset it." %}         
        </span>
    </div>
    
    <form action="" method="post" class="w-full">
        {% csrf_token %}
    
        
        <!-- Display non-field errors -->
        {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    
        <!-- Render Email Field -->
        <div>
            <label for="{{ form.email.id_for_label }}" class="block mt-1 mb-1 text-sm font-bold text-gray-700">{{form.email.label}}</label>
            {{ form.email}}
            {% if form.email.help_text %}
                <div class="">{{ form.email.help_text }}</div>
            {% endif %}
            {% include 'components/forms/error_widget.html' with errors=form.email.errors %}
        </div> 
    
        <!-- Submit Button -->
        {% translate 'Reset password' as button_text %}
        {% include "components/buttons/submit_with_loader.html" with button_text=button_text extra_classes="w-full min-h-[42px] mt-3 " loading="True" %}
    </form>
    
    
</div>
{% endblock public_content%}