{% extends 'public/_base.html' %}
{% load static %}

{% block right_container_content %}
    <div class="max-w-lg w-full">
        <h1 class="text-2xl font-semibold mb-4">Create a new account</h1>
        

        <form action="" method="post" class="w-full">
            {% csrf_token %}
        
            <!-- Display non-field errors -->
            {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
        


            <!-- Render Email Field -->
            <div>
                <label for="{{ form.email.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-1 mt-1">{{form.email.label}}</label>
                {{ form.email}}
                {% if form.email.help_text %}
                    <div class="">{{ form.email.help_text }}</div>
                {% endif %}
                {% include 'components/forms/error_widget.html' with errors=form.email.errors %}
            </div>
        
            <!-- Render Password 1 Field -->
            <div>
                <label for="{{ form.password1.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-1 mt-1">{{form.password1.label}}</label>
                {{ form.password1 }}
                {% if form.password1.help_text %}
                    <div class="text-sm">{{ form.password1.help_text }}</div>
                {% endif %}
                {% include 'components/forms/error_widget.html' with errors=form.password1.errors %}
            </div>
        
            <!-- Render Password 2 Field -->
            <div>
                <label for="{{ form.password2.id_for_label }}" class="block text-gray-700 text-sm font-bold mb-1 mt-1">{{form.password2.label}}</label>
                {{ form.password2 }}
                {% if form.password2.help_text %}
                    <div>{{ form.password2.help_text }}</div>
                {% endif %}
                {% include 'components/forms/error_widget.html' with errors=form.password2.errors %}
            </div>
        
            <!-- Submit Button -->
            {% include "components/buttons/submit.html" with button_text="Register new account" %}
        </form>

        <p class="text-center text-sm">
            Already have an account? <a href="{{ login_url }}" class="text-blue-600 hover:text-blue-600 underline">Sign in</a>
        </p>

        <!-- seprarator from social account login -->
        <div class="flex items-center justify-center my-4">
            <div class="flex-grow border-t border-gray-300"></div>
            <span class="mx-4 text-gray-600">or</span>
            <div class="flex-grow border-t border-gray-300"></div>
        </div>
        {% include "public/snippets/login.html"%}
    </div>
{% endblock %}