{% load i18n %}
<div class="file-section-container">
    <div class="grid grid-cols-2 md:grid-cols-3">
        <div class="col-span-2 p-1 sm:col-span-1">
            <!-- file upload -->                  
            <div class="flex items-center justify-center w-full">
                <label for="{{ file_section.section_form.file.id_for_label }}"
                    class="flex flex-col items-center justify-center w-full h-[100px] border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
                    <div class="flex flex-col items-center justify-center py-2">
                        <svg class="w-8 h-8 mb-3 text-gray-500 dark:text-gray-400"
                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="none" viewBox="0 0 20 16">
                            <path stroke="currentColor" stroke-linecap="round"
                                stroke-linejoin="round" stroke-width="2"
                                d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                        </svg>
                        <div class="flex flex-col mb-2 text-sm text-center text-gray-500 dark:text-gray-400">
                            {% if not file_section.file %}
                                {% translate 'Click to select a file' as upload_text %}
                                <span class="font-semibold">{{upload_text}}</span>
                            {% else %}
                                {% translate 'Click to change the file' as upload_text%}
                                <span class="font-semibold">{{upload_text}}</span>
                            {% endif %}                                    
                        </div>
                        {% include 'components/forms/error_widget.html' with errors=file_section.section_form.file.errors %}  
                    </div>
                    {{ file_section.section_form.file }}
                </label>
            </div>
        </div>


        <div class="col-span-2 ml-1 sm:col-span-1 md:col-span-2">
            {{ file_section.section_form.title }}
            <div class="mt-1">
            {{ file_section.section_form.description }}
            </div>
            
        </div>

    </div>
    {% if file_section.file %}
    <div class="flex items-start ">
        <div class="inline-flex mr-auto cursor-pointer group">
            <!-- Thumbnail with preview-->
            {% include 'private/space/detail/content/simple_file_thumbnail.html' with file=file_section.file %}
            <div class="my-auto ml-1 text-sm font-semibold break-all">{{ file_section.file }}</div>
        </div>
    </div>
    {% endif %}
</div>

