{% extends "private/_base.html" %}
{% load i18n %}
{% block private_content %}
    {% if page_obj %}

        <!-- title  -->
        <div class="flex items-center justify-between mb-2">
            <h1 class="text-2xl font-bold text-gray-800">{% translate 'Spaces in' %} {{organization.name}}</h1>

        </div>

        <div class="w-full py-1 mb-2 border-t border-gray-300"></div>

        <div class="mt-6 mb-6">
        
            {% for space in page_obj %}
                {% include 'private/space/list/space_row.html' %}
            {% endfor %}


        </div>
        {% translate "Spaces" as objs_name %}
        {% include 'components/pagination.html' with objs_name=objs_name %}
    {% else %}
        <div class="flex flex-col items-center justify-center mt-10">
            <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'You have not created any spaces yet' %}</p>
            {% url 'space_create' organization.uuid as space_create_url %}
            {% translate "Create your first space" as button_text %}
            {% include 'components/buttons/generic.html' with button_text=button_text href=space_create_url %}
            <p class="m-3 text-center text-gray-500">{% translate "Don't know where to start?" %} <a
                    href="{{ doc_url }}" target="_blank"
                    class="text-blue-500 hover:underline">{% translate 'Read our guide' %}</a></p>
        </div>
    {% endif %}

{% endblock private_content %}


