{% load static %}
{% load custom_tags %}
{% load i18n %}




<div class="flex text-sm text-left border-b border-gray-200 hover:bg-gray-50 group">

    <div class="inline-felx flex inner-group bg-gray-100 border-r flex-1 py-2 px-1.5 min-w-[200px] max-w-[250px] shrink">
        <a class="font-medium break-all transition duration-150 ease-in-out transform cursor-pointer hover:underline"
        href="{% url 'receiver_space_detail' space.uuid  %}"
        title="{% translate 'Open:' %} {{ space.title}}"
        onmousedown="this.classList.add('scale-[0.98]', 'text-marian-blue-400')"
        onmouseup="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
        onmouseleave="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
        ontouchstart="this.classList.add('scale-[0.98]', 'text-marian-blue-400')"
        ontouchend="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
        onclick="navigator.clipboard.writeText('{{ space.title}}')">
        {{ space.title}}
        </a>
       <div class="my-auto opacity-0 inner-group-hover:opacity-100">
           {% include 'components/buttons/copy_button.html' with text=space.title %}
       </div>
    </div>
    <div class="inline-felx flex inner-group flex-1 py-2 px-1.5 min-w-[190px] shrink">
        {% if space.company %}
        <a class="break-all transition duration-150 ease-in-out transform cursor-pointer hover:underline"
        href="{% url 'company_detail' space.company.pk %}"
        title="{% translate 'Go to:' %} {{ space.company.name}}"
        onmousedown="this.classList.add('scale-[0.98]', 'text-marian-blue-400')"
        onmouseup="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
        onmouseleave="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
        ontouchstart="this.classList.add('scale-[0.98]', 'text-marian-blue-400')"
        ontouchend="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')">
        {{ space.company.name}}
        </a>
        <div class="my-auto opacity-0 inner-group-hover:opacity-100">
            {% include 'components/buttons/copy_button.html' with text=company.pace.company.name %}
        </div>
        {% endif %}
    </div>
    {% include 'private/space/components/space_actions_dropdown.html' with space=space space_num=forloop.counter %}
</div>

   
    











{% comment %} 


<div class="flex items-center justify-between px-3 py-3 border-b border-gray-200 dark:border-gray-700">
    <div class="inline-flex items-center justify-center duration-300 cursor-pointer hover:underline transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer">
       <a href="{% url 'receiver_space_detail' space.uuid  %}">{{ space.title }}</a> 
    </div>
    <!-- space settings dropdown -->
    <div class="flex justify-end mt-auto">
        {% include 'private/space/components/space_actions_dropdown.html' with space=space space_num=forloop.counter %}
    </div>
</div>
 {% endcomment %}
