{% load static %}
{% load custom_tags %}
{% load i18n %}
{% if sender %}
    <div class="flex items-center justify-between px-3 py-3 border-b border-gray-200 dark:border-gray-700">
        <div class="inline-flex items-center justify-center duration-300 cursor-pointer hover:underline transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer">
            {{ sender.email }}
        </div>
        {% url 'sender_space_detail'  sender.uuid  sender.space.uuid as sender_path %}
        <div class="inline-flex items-center">
            <a href="{{ sender_path }}" target="_blank"
               class="text-blue-600 transition-colors duration-300 hover:text-blue-800">
                {% translate 'space link' %}
            </a>
            {% translate "Copy link" as title %}
            <button
                    class="inline-flex items-center ml-2 text-gray-600 transition-all transition-colors duration-75 duration-300 rounded hover:text-gray-800 group active:ring-2 active:ring-offset-2 active:ring-gray-300"
                    onclick="navigator.clipboard.writeText('{{ request.get_host }}{{ sender_path }}')"
                    title=title>
                <img src="{% static 'images/icons/copy-link.svg' %}" alt="Copy Link Icon"
                     class="w-4 h-4 transition-transform duration-300 group-hover:scale-110">
            </button>

        </div>
        {% render_sender_activate_toggle sender 'sender_toggle' sender.is_active %}
    </div>
{% elif create_sender %}
    <div class="sender-create-row">
        <form hx-post="{% url 'sender_create' space.pk %}" hx-swap="outerHTML" hx-target="closest .sender-create-row">
                <div class="flex items-center justify-between px-3 py-3 border-b border-gray-200 dark:border-gray-700 sender-create-row">

            <div class="inline-flex items-center justify-center duration-300 cursor-pointer hover:underline transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer">

                {% include 'private/space/create/components/contacts/search_contacts_widget.html' with input=form.contact search_input=form.email %}
            </div>
            <div class="inline-flex items-center">
            {{ form.is_active }}
            </div>
            <div class="inline-flex items-center">
            {% translate 'Confirm' as button_text %}
            {% include 'components/buttons/submit_with_loader.html' with button_text=button_text %}
            </div>
                </div>
        </form>


    </div>
{% endif %}
