{% load custom_tags static l10n %}

<div id="senders-modal-{{ space.uuid }}" tabindex="-1"
     class="fixed top-0 left-0 right-0 z-[100] w-full p-4 overflow-x-hidden  overflow-y-hidden md:inset-0 h-[calc(100%)]">
    <div class="relative w-full h-auto max-w-2xl max-h-full border border-gray-300 ">
        <div class="relative bg-white shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-2 border-b md:p-3 dark:border-gray-600">
                <div class="w-full text-center">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                        Everyone
                    </h3>
                    <p class="text-sm text-gray-600 dark:text-gray-300">
                        <!-- subtitle-->
                    </p>
                </div>
                <button type="button"
                        class="inline-flex items-center justify-center w-6 h-6 text-sm text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="senders-modal-{{ space.uuid }}">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="flex flex-col p-4 overflow-x-auto custom-scrollbar max-h-[calc(100vh-103px)]">
                <div id="senders-info-container-{{ space.uuid }}">

                    <div class="flex flex-col ">
                        <h3 class="mb-2 text-lg font-bold text-gray-900 border-b border-gray-200 dark:text-white">
                            Notifications
                        </h3>
                        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
                            <div class="flex flex-col">
                                <h4 class="mb-1 text-base font-medium text-gray-900 border-b border-gray-200 dark:text-white">
                                    Invitation
                                </h4>
                                
                                
                                <div class="flex">
                                    <button class="m-2 justify-center items-center text-sm text-white bg-marian-blue-400 hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 font-medium px-3 py-1.5 text-center dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200"
                                            hx-post="{% url 'bulk_notify_invitation' space.uuid %}"
                                            hx-swap="none"
                                            hx-indicator="#loading-indicator-invitation">
                                        Send invitation to everyone
                                    </button>
                                    <div id="loading-indicator-invitation" role="status" class="htmx-indicator flex items-center justify-center mr-2 spinner">
                                        {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>


                            </div>
                            <div class="flex flex-col">

                                <h4 class="mb-1 text-base font-medium text-gray-900 border-b border-gray-200 dark:text-white">
                                    Deadline Reminder
                                </h4>
                                <div class="flex">
                                    <button class="m-2 justify-center items-center text-sm text-white bg-marian-blue-400 hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 font-medium px-3 py-1.5 text-center dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200"
                                            hx-post="{% url 'bulk_notify_deadline' space.uuid %}"
                                            hx-swap="none"
                                            hx-indicator="#loading-indicator-reminder">
                                        Send reminder to everyone
                                    </button>
                                    <div id="loading-indicator-reminder" role="status" class="htmx-indicator flex items-center justify-center mr-2 spinner">
                                        {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </div>
    </div>
</div>