{% load l10n %}

{% load static %}




<!-- EVENTS HISTORY -->


{% if upload_events %}
<div class="relative overflow-x-auto custom-scrollbar">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400 ">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Upload Timestamp
                </th>
                {% if hide_sender is False %}
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Uploader email
                </th>
                {% endif %}
                {% if hide_request is False %}
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Request
                </th>
                {% endif %}
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Notes
                </th>
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    File
                </th>                
            </tr>
        </thead>
        
        <tbody>

            {% for event in upload_events %}   
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <!-- Timestamp-->
                    <th scope="row" class="px-3 py-2">
                        {% localize %}
                        <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5">
                            {{ event.created_at|date }}
                        </span>
                        <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                            {{ event.created_at|time }}
                        </span>
                        {% endlocalize %}
                    </th>
                    
                    {% if hide_sender is False %}
                        <!-- Sender email, can be unknown for public links-->
                        <td class="px-3 py-2">
                            {% if event.sender %}
                                {{ event.sender.email }}
                            {% else %}
                                <p class='italic'>from public link</p>
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if hide_request is False %}
                        <!-- Request title, with link to destination folder with popover with name of folder-->
                        <td class="px-3 py-2">
                            <div class="flex items-center">            
                                <span class=" min-w-[25px] max-w-[250px] line-clamp-2" >{{ event.request.title }}</span>
                                <a data-popover-target="popover-{{ forloop.counter }}" href="{{ event.request.google_drive_destination.url }}" target="_blank" class="inline-flex items-center ml-2 text-gray-600 transition duration-300 shrink-0 hover:text-gray-800 group">
                                    <img src="{% static 'images/icons/folder-gray.svg' %}" alt="folder icon" class="shrink-0 w-[16px] h-[16px] transition-transform duration-300 bi bi-folder group-hover:scale-110">
                                </a> 
                                    <div data-popover id="popover-{{ forloop.counter }}" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                                        <div class="px-3 py-2">
                                            <p>Go to: {{ event.request.google_drive_destination.name }}</p>
                                        </div>
                                    </div>
                            </div>
                        </td>
                    {% endif %}

                    
                    <td class="px-3 py-2">
                        <div class="flex">            
                            <span class=" min-w-[25px] max-w-[250px] text-sm " >
                                {% if event.notes %}
                                    {{ event.notes|linebreaks }}
                                {% endif %}
                            </span>                            
                        </div>
                    </td>
                    

                    <!-- file name with link to file-->
                    <td class="px-3 py-2 max-w-[250px]">
                        <ul class="flex flex-col">  
                            {% for file in event.files.all %}
                                <li class="inline-flex overflow-wrap-anywhere">
                                    <a href="{{ file.google_drive_url }}" target = "_blank" class="text-blue-600 underline transition-colors duration-300 hover:text-blue-800">
                                        <span class="min-w-0">{{ file.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                            </ul>
                    </td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>
<span class="text-gray-500">No uploads</span>
</div>
{% endif %}



