
{% load static %}

<!-- EVENTS HISTORY -->

{% if space.upload_events %}
<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    Timestamp
                </th>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    Uploader email
                </th>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    Request
                </th>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    File
                </th>                
            </tr>
        </thead>
        
        <tbody>
            {% for event in space.upload_events %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <!-- Timestamp-->
                    <th scope="row" class="px-6 py-2">
                        <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5">
                            {{ event.created_at|date:"Y-m-d" }}
                        </span>
                        <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                            {{ event.created_at|time:"H:i" }}
                        </span>
                    </th>

                    <!-- Sender email, can be unknown for public links-->
                    <td class="px-6 py-2">
                        {% if event.sender %}
                            {{ event.sender.email }}
                        {% else %}
                            <p class='italic'>from public ink</p>
                        {% endif %}
                    </td>
                    <!-- Request title, with link to destination folder with popover with name of folder-->
                    <td class="px-6 py-2">
                        <div class="flex items-center">            
                            <span class=" min-w-[25px] max-w-[250px] line-clamp-2" >{{ event.request.title }}</span>
                            <a data-popover-target="popover-{{ forloop.counter }}" href="{{ event.request.google_drive_destination.url }}" target="_blank" class="inline-flex items-center ml-2 text-gray-600 transition duration-300 hover:text-gray-800 group">
                                <img src="{% static 'images/icons/folder-gray.svg' %}" alt="folder icon" class=" w-[16px] h-[16px] transition-transform duration-300 bi bi-folder group-hover:scale-110">
                            </a> 
                                <div data-popover id="popover-{{ forloop.counter }}" role="tooltip" class="absolute z-10 invisible inline-block w-64 text-sm text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                                    <div class="px-3 py-2">
                                        <p>Go to: {{ event.request.google_drive_destination.name }}</p>
                                    </div>
                                </div>
                        </div>
                    </td>
                    <!-- file name with link to file-->
                    <td class="px-6 py-2 max-w-[250px]">
                        <div class="flex items-center">  
                            <div class="inline-flex items-center overflow-wrap-anywhere">
                                <a href="{{ event.file.google_drive_url }}" target = "_blank" class="text-blue-600 underline transition-colors duration-300 hover:text-blue-800">
                                    <span class="min-w-0">{{ event.file.name }}</span>
                                </a>
                            </div>
                        </div>
                    </td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div>
<span class="text-gray-500">No upload events yet</span>
</div>
{% endif %}



