{% load l10n static %}
{% if upload_events %}
    <div class="relative overflow-x-auto custom-scrollbar">
        <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Upload Timestamp
                </th>
                {% if show_sender %}
                    <th scope="col" class="px-3 py-3 min-w-[200px]">
                        Uploader email
                    </th>
                {% endif %}
                {% if show_request %}
                    <th scope="col" class="px-3 py-3 min-w-[200px]">
                        Request
                    </th>
                {% endif %}
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Notes
                </th>
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    File
                </th>
            </tr>
            </thead>

            <tbody>

            {% for event in upload_events %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <!-- Timestamp-->
                    <th scope="row" class="px-3 py-2">
                        {% localize on %}
                            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5">
                            {{ event.created_at|date }}
                        </span>
                            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                            {{ event.created_at|time }}
                        </span>
                        {% endlocalize %}
                    </th>

                    {% if show_sender %}
                        <!-- Sender email, can be unknown for public links-->
                        <td class="px-3 py-2">
                            {% if event.sender %}
                                {{ event.sender.email }}
                            {% else %}
                                <p class='italic'>from public link</p>
                            {% endif %}
                        </td>
                    {% endif %}

                    {% if show_request %}
                        <!-- Request title, with link to destination folder with popover with name of folder-->
                        <td class="px-3 py-2">
                            <div class="flex items-center">
                                <span class=" min-w-[25px] max-w-[250px] line-clamp-2"
                                      title="{{ event.request.title }}">{{ event.request.title }}</span>
                                {% if event.destination.name %}
                                    <a title="Go to: {{ event.destination.name }}"
                                       data-popover-target="popover-{{ forloop.counter }}"
                                       href="{{ event.destination.url }}" target="_blank"
                                       class="inline-flex items-center ml-2 text-gray-600 transition duration-300 shrink-0 hover:text-gray-800 group">
                                        {% if event.destination.content_object.TAG %}
                                            {% with 'images/drive_providers/'|add:event.destination.content_object.TAG|add:'-logo.svg' as logo_static %}
                                                <img src="{% static logo_static %}" alt="Drive Provider Icon"
                                                     class="shrink-0 w-[16px] h-[16px] transition-transform duration-300 bi bi-folder group-hover:scale-110">
                                            {% endwith %}
                                        {% else %}
                                            <img src="{% static 'images/icons/folder-gray.svg' %}"
                                                 alt="Drive Provider Icon"
                                                 class="shrink-0 w-[16px] h-[16px] transition-transform duration-300 bi bi-folder group-hover:scale-110">
                                        {% endif %}
                                    </a>
                                {% endif %}
                            </div>
                        </td>
                    {% endif %}


                    <td class="px-3 py-2">
                        <div class="flex">
                            <span class=" min-w-[25px] max-w-[250px] text-sm line-clamp-5"
                                  title="{{ event.notes|default_if_none:'' }}">
                                {% if event.notes %}
                                    {{ event.notes|linebreaks }}
                                {% endif %}
                            </span>
                        </div>
                    </td>


                    <!-- file name with link to file-->
                    <td class="px-3 py-2 max-w-[300px]">
                        <ul class="flex flex-col">
                            {% for file in event.files.all %}
                                <li class="inline-flex overflow-wrap-anywhere m-1">
                                    <a href="{{ file.url }}" target="_blank"
                                       class="text-blue-600 underline transition-colors duration-300 hover:text-blue-800">
                                        <span class="min-w-0">{{ file.name }}</span>
                                    </a>
                                    <button type="button"
                                            class="max-h-5 text-green-500 border border-green-500 hover:bg-green-700 hover:text-white focus:ring-2 focus:outline-none focus:ring-green-300 font-medium text-sm text-center inline-flex items-center me-2 dark:border-blue-green dark:text-blue-green dark:hover:text-white dark:focus:ring-blue-green dark:hover:bg-green-500">
                                        <svg class="w-4 h-4" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2" d="m5 12 4.7 4.5 9.3-9"/>
                                        </svg>
                                        <span class="sr-only">Accept File</span>
                                    </button>
                                    {% comment %}
                                    <button type="button"
                                            class="max-h-5 text-red-700 border border-red-700 hover:bg-red-700 hover:text-white focus:ring-2 focus:outline-none focus:ring-red-300 font-medium text-sm text-center inline-flex items-center me-2 dark:border-red-500 dark:text-red-500 dark:hover:text-white dark:focus:ring-red-800 dark:hover:bg-red-500">
                                        <svg class="w-4 h-4" aria-hidden="true"
                                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                                  stroke-width="2" d="M6 18 18 6m0 12L6 6"/>
                                        </svg>
                                        <span class="sr-only">Reject file</span>
                                    </button>
                                    {% endcomment %}
                                    {% if file.status == file.FileStatus.PENDING %}

                                        <span class="ml-2 text-sm text-blue-800 z-[2] align-middle peer-checked:inline-block bg-blue-200 rounded-full px-[6px] inline-block items-center justify-center">pending</span>
                                    {% elif  file.status == file.FileStatus.ACCEPTED %}
                                        <span class="ml-2 text-sm text-green-800 z-[2] align-middle peer-checked:inline-block bg-green-200 rounded-full px-[6px] inline-block items-center justify-center">pending</span>

                                    {% elif file.status == file.FileStatus.REJECTED %}
                                        <span class="ml-2 text-sm text-red-800 z-[2] align-middle peer-checked:inline-block bg-red-200 rounded-full px-[6px] inline-block items-center justify-center">pending</span>

                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div>
        <span class="text-gray-500">No uploads</span>
    </div>
{% endif %}



