{% load custom_tags static %}
{% load i18n %}

<tr id="request-row-container-{{ req.uuid }}"
    request-uuid="{{ req.uuid }}"
    class="bg-white border-b sender-pull dark:bg-gray-800 dark:border-gray-700">
    <th scope="row"
        class="sticky left-0 z-[1] w-[30px] py-2 font-medium text-gray-900 break-words whitespace-normal bg-white dark:text-white items-center">
        {% comment %}<div class="inline-flex  justify-center items-center w-[20px] ml-2 duration-300 transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer"
            hx-get="{% url 'sender_modal' sender.uuid %}"
            hx-trigger="click"
            hx-target="#htmx-modal"
            hx-swap="innerHTML">
            <img src="{% static 'images/icons/three-dots.svg' %}" alt="three dots icon" stroke="" class="w-[20px] h-[20px] transition-transform duration-300 bi bi-folder group-hover:scale-[1.15]">
        </div>{% endcomment %}

    </th>
    <th scope="row"
        class="sticky left-[30px] z-10 max-w-xs px-3 py-2 font-medium text-gray-900 break-words whitespace-normal bg-white dark:text-white">
        <div class="inline-flex items-center justify-center duration-300 cursor-pointer hover:underline transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer">
        <a href="{% url 'request_detail' req.pk %}">{{ req.title }}</a>
            <div class="flex items-center mb-3">
        <div id="request-row-title-loading-indicator-{{ req.uuid }}"
             class="items-center justify-center opacity-1 my-htmx-indicator">
            <div role="status" class="ml-2 spinner">
                {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>  
        </div>

    </th>
</tr>