<div id="small-modal-{{ req.uuid }}-{% if sender %}{{ sender.uuid }}{% else %}public{% endif %}" tabindex="-1"
     class="fixed top-0 left-0 right-0 z-[52] w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full h-auto max-w-4xl border border-gray-300 md:max-h-full">
        <div class="relative bg-white shadow dark:bg-gray-700">
            <div class="flex items-center justify-between p-2 border-b md:p-3 dark:border-gray-600">
                <div class="w-full text-center">
                    <h3 class="text-xl font-bold text-gray-900 dark:text-white">
                        {% if req.destination.url %}
                            <a href="{{ req.destination.url }}" target="_blank"
                               class="inline-flex items-center text-gray-800 transition duration-200 hover:text-black group hover:underline">
                                <span class="line-clamp-2">{{ req.title }} </span>
                            </a>
                        {% else %}
                            <span class="line-clamp-2">{{ req.title }} </span>

                        {% endif %}
                    </h3>
                    <p class="text-sm text-gray-600 dark:text-gray-300">
                        {% if sender %}Uploads by: {{ sender.email }}{% elif public %}Uploads via public
                            link {% endif %}
                    </p>
                </div>
                <button type="button"
                        class="inline-flex items-center justify-center w-6 h-6 text-sm text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 ms-auto dark:hover:bg-gray-600 dark:hover:text-white"
                        data-modal-hide="small-modal-{{ req.uuid }}-
                                {% if sender %}{{ sender.uuid }}{% else %}public{% endif %}">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            {% if files %}
                <div class="flex flex-col p-3">
                <h3 class="mb-2 text-lg font-bold text-gray-900 border-b border-gray-200 dark:text-white">
                    Files
                </h3>
                <div class="w-1/4">
                    {% url 'accept_all' req.uuid as url_accept %}
                {% if sender %}
                    {% with url_accept|add:"?sender="|add:sender.uuid as hx_post %}
                        {% include 'components/buttons/submit_with_loader.html' with button_text='Accept all files' hx_post=hx_post hx_swap="none" extra_classes="files-push" %}
                    {% endwith %}
                {% elif public %}
                    {% with url_accept|add:"?public=1" as hx_post %}
                        {% include 'components/buttons/submit_with_loader.html' with button_text='Accept all files' hx_post=hx_post hx_swap="none" extra_classes="files-push"%}
                    {% endwith %}
                {% else %}
                    {% include 'components/buttons/submit_with_loader.html' with button_text='Accept all files' hx_post=url_accept hx_swap="none" extra_classes="files-push"%}
                {% endif %}
                </div>
                    {% if changes_form %}
                        <div id="accordion-flush" data-accordion="collapse"
                             data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
                             data-inactive-classes="text-gray-500 dark:text-gray-400">
                            <h2 id="accordion-flush-heading-1">
                                <button type="button"
                                        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3"
                                        data-accordion-target="#accordion-flush-body-1" aria-expanded="true"
                                        aria-controls="accordion-flush-body-1">
                                    <span>Request changes</span>
                                    <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="2"
                                              d="M9 5 5 1 1 5"/>
                                    </svg>
                                </button>
                            </h2>
                            <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
                                <div class="py-5 border-b border-gray-200 dark:border-gray-700">
                                    {% include 'private/space/detail/components/changes_form.html' with changes_form=changes_form req=req sender=sender %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>

            {% endif %}
            <div class="p-3 space-y-4 files-pull"
                 hx-get="{% url 'history_table' req.space.uuid %}?request_uuid={{ req.uuid }}{% if sender %}&sender_uuid={{ sender.uuid }}{% elif public %}&public=1{% endif %}"
                 hx-trigger="intersect once, filesUpdated from:document"
                 hx-swap="innerHTML"
                 hx-target="#modal-history-table"
                 hx-indicator="#loading-indicator-modal-history-table">
            <h3 class="text-lg font-bold text-gray-900 border-b border-gray-200 dark:text-white">
            Uploads History
        </h3>

                <div id="modal-history-table">

                </div>
                <div id="loading-indicator-modal-history-table"
                     class="items-center justify-center opacity-0 htmx-indicator">
                    <div role="status" class="ml-2 spinner">
                        {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

