{% load custom_tags %}
{% load static %}

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400 scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-3 py-3 min-w-[100px] sticky left-0 z-10 bg-gray-100">
                    Invitee
                </th>
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Space Link
                </th>
                <th scope="col" class="px-3 py-3 min-w-[200px]">
                    Link Status
                </th>

                {% for req in space.requests.all reversed %}
                
                <th scope="col" class="px-3 py-1.5 min-w-[150px] {% if req.is_deleted is True %} bg-red-300-40 {% endif %}">
                    <div class="flex-col items-center">

                        <span class="text-xs font-normal normal-case">         
                            Request {{ forloop.counter }} {% if req.is_deleted is True %} (deleted) {% endif %}: </span>    
                            <a href="{{ req.google_drive_destination.url }}" target="_blank" class="inline-flex items-center text-gray-800 transition duration-200 hover:text-black group hover:underline">   
                                <span class=" min-w-[25px] max-w-[250px] line-clamp-2" >{{ req.title }} </span>
                            <a>
            

                            
                    </div>
                </th>
                {% endfor%}
                
                
            </tr>
        </thead>
        <tbody>
            <!-- If the space has a public link add a row with its info-->
            {% if space.is_public or space.public_upload_events %}
            <tr class="border-b dark:bg-gray-800 dark:border-gray-700 {% if space.is_public is False %} bg-orange-100 {%else%} bg-white{% endif %}">
                <th scope="row" class="sticky left-0 z-10 max-w-xs px-3 py-2 font-medium text-gray-900 break-words whitespace-normal {% if space.is_public is False %} bg-orange-100 {%else%} bg-white{% endif %} dark:text-white">
                    Everyone (public)
                    
                </th>
                <td class="px-3 py-2">
                    <div class="inline-flex items-center">
                        <a href="{% url 'sender_space_detail_public' space.uuid %}" target = "_blank" class="text-blue-600 underline transition-colors duration-300 hover:text-blue-800">
                            public space link
                        </a>
                        <button 
                            class="inline-flex items-center ml-2 text-gray-600 transition-all transition-colors duration-75 duration-300 rounded hover:text-gray-800 group active:ring-2 active:ring-offset-2 active:ring-gray-300"
                            onclick="navigator.clipboard.writeText('{{ request.get_host }}{% url 'sender_space_detail_public' space.uuid %}')"
                            title="Copy Link">
                            <img src="{% static 'images/icons/copy-link.svg' %}" alt="Copy Link Icon" class="w-4 h-4 transition-transform duration-300 group-hover:scale-110">
                        </button>

                 
                    </div>
                </td>
                <td class="px-3 py-2">
                    <div class="inline-flex items-center">
                        {% if space.is_public is False %}
                            <div class="bg-orange-200 text-orange-800 rounded-full text-sm px-[6px] py-[4px]] inline-block items-center justify-center">
                                inactive
                            </div>
                        {% else %}
                            <div class="bg-green-200 text-green-800 rounded-full text-sm px-[6px] py-[4px]] inline-block items-center justify-center">
                                active
                            </div>
                        {% endif %}              
                    </div>
                </td>
                {% for req in space.requests.all reversed%}
                <td class="px-3 py-2 {% if req.is_deleted is True %} bg-red-300-40 {% endif %}">
                    <div class="">                  
                                <span class="flex-shrink-0 ml-1 text-center" title="number of uploaded files">
                                    {% get_count_uploaded_files req %} files
                                </span> 
                        </div>
                </td>
                {% endfor %}
                
            </tr>

            {% endif %}
            {% for sender in space.senders.all %}
            {% include 'private/space/detail/components/sender_row.html' with sender=sender space=space %}
            {% endfor %}
            
        </tbody>
    </table>
</div>
