{% load custom_tags static l10n %}



<div id="sender-info-container-{{ sender.uuid }}"
     sender-uuid="{{sender.uuid}}"
     hx-trigger="senderUpdated-{{sender.uuid}} from:document"
     hx-get="{% url 'sender_info'  sender.uuid %}"
     hx-target="this"
     hx-swap="outerHTML"
     class="sender-pull">

    <div class="flex flex-col ">
        <h3 class="mb-2 text-lg font-bold text-gray-900 border-b border-gray-200 dark:text-white">
            Notifications
        </h3>
        <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
            <div class="flex flex-col">
                <h4 class="mb-1 text-base font-medium text-gray-900 border-b border-gray-200 dark:text-white">
                    Invitation
                </h4>
                <span class="my-1 ml-2 text-xs">
                    Last invitation:
                    <span class="ml-2 text-xs underline">
                    {% localize on %}
                        {% if sender.invited_at %}{{sender.invited_at}}{% else %}Never invited{% endif %}
                    {% endlocalize %}
                    </span>
                </span>

                <button  sender-uuid="{{sender.uuid}}" class="my-2 ml-2 w-[140px] text-sm px-2.5 py-1.5 text-center text-marian-blue-400 bg-white hover:text-white hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200 border border-marian-blue-400 sender-push" 
                    hx-post="{% url 'notify_invitation' sender.pk %}"
                    hx-target="#messageBar"
                    hx-swap="outerHTML">
                    Send Invitation
                </button>                          


            </div>
        {% if sender.space.deadline %}
            <div class="flex flex-col">

                <h4 class="mb-1 text-base font-medium text-gray-900 border-b border-gray-200 dark:text-white">
                    Deadline Reminder
                </h4>
                <span class="my-1 ml-2 text-xs">
                    Last notification:
                    <span class="ml-2 text-xs underline">
                        {% localize on %}

                        {% if sender.notified_at %}{{sender.notified_at}}{% else %}Never notified{% endif %}
                    {% endlocalize %}
                    </span>
                </span>
                <button sender-uuid="{{sender.uuid}}" class="my-2 ml-2 w-[140px]  text-sm px-2.5 py-1.5 text-center text-marian-blue-400 bg-white hover:text-white hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200 border border-marian-blue-400 sender-push" 
                    hx-post="{% url 'notify_deadline' sender.pk %}"
                    hx-target="#messageBar"
                    hx-swap="outerHTML">
                        Send reminder 
                </button>
            </div>
        {% endif %}
        </div>
        
    </div>








    <div  class="flex flex-col">
        <h3 class="mt-4 mb-1 text-lg font-bold text-gray-900 border-b border-gray-200 dark:text-white">
            Space link
        </h3>
        {% url 'sender_space_detail_private' sender.space.uuid sender.uuid as sender_path%}
        <div class="my-1 ml-2 text-xs">
            Link to space:
            <div class="inline-flex items-center">
                <a href="{{ sender_path}}" target = "_blank" class="ml-1 text-blue-600 transition-colors duration-300 hover:text-blue-800">
                    space link
                </a>
                <button 
                    class="inline-flex items-center ml-2 text-gray-600 transition-all transition-colors duration-75 duration-300 rounded hover:text-gray-800 group active:ring-2 active:ring-offset-2 active:ring-gray-300"
                    onclick="navigator.clipboard.writeText('{{ request.get_host }}{{ sender_path }}')"
                    title="Copy Link">
                    <img src="{% static 'images/icons/copy-link.svg' %}" alt="Copy Link Icon" class="w-4 h-4 transition-transform duration-300 group-hover:scale-110">
                </button>              
            </div>
        </div>

        <div class="inline-flex items-center my-1 ml-2 text-xs">
            <span class="mr-2">Link status:</span>
            {% render_sender_activate_toggle sender 'sender_toggle' sender.is_active %}
        </div>
    </div>
</div>