{% load static %}
{% load custom_tags %} <!-- for toggle buttons-->

    <!-- TITLE -->
    <div class="flex mt-2 mt-auto mb-3">

        <h2 class = "bg-transparent text-gray-900 p-2.5 border-0 text-4xl font-bold">
            {{ space.title }}
        </h2>
                                    {% include 'private/space/components/space_actions_dropdown.html' with space=space space_num=0 %}


    </div>

    
    


    <!-- DETAILS -->
    <div class="mb-6 mt-2 pl-2.5" >
    {% block details %}
        <div hx-target="this">



        <!-- Public link -->
        <div class= "flex mb-3" >
            Public link: 
            <div class="flex justify-between ml-1 items-left">
                    {% render_space_public_link_toggle space 'space_public_toggle' space.is_public %}
                
                
            </div>
        </div>

        <!-- created at-->
        <div class="mb-2 text-base">
            <span class="">Created at:</span>
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5">
                <img src="{% static 'images/icons/calendar-green.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.created_at|date:"Y-m-d" }} 
            </span>
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                <img src="{% static 'images/icons/clock-green.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.created_at|time:"H:i" }}
            </span>
        </div>

    {% if space.deadline %}
        <!-- Deadline -->                
        <div class="mb-2 text-base">
            <span class="">Deadline:</span>
            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5">
                <img src="{% static 'images/icons/calendar-blue.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.deadline|date:"Y-m-d" }} 
            </span>
            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                <img src="{% static 'images/icons/clock-blue.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.deadline|time:"H:i" }}
            </span>
            {% if space.deadline_expired %}
                <span class="inline-flex items-center  bg-red-100 text-red-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                    Deadline expired!
                </span>
            {% endif %}
            <span class="inline-flex items-center  bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2" title="To change this setting edit the space">
                {%if space.upload_after_deadline %}Uploads allowed after the deadline{% else %}Uploads forbidden after the deadline{% endif %}
            </span>
            {% with space.deadline_notification_datetime as deadline_notification_datetime %}
                {% if deadline_notification_datetime %}
                    <span class="inline-flex items-center  bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 ml-2" title="To change this setting edit the space">
                    Notifications will be sent out on {{ deadline_notification_datetime|date:"Y-m-d" }} at {{ deadline_notification_datetime|time:"H:i" }}
                    </span>
                {% endif %}
            {% endwith %}
        </div>
    {% endif %}



    <!-- UPLOAD STATUS -->
    <div class="relative mt-6 mb-6">
        <h3 class="mb-3 text-2xl font-semibold">Status Summary</h3>
        {% include "private/space/detail/components/sender_table.html" %}
    </div>
    </div>
    {% endblock %}

    <div class="mt-6 mb-6" hx-get="{% url 'history_table' space.uuid %}" hx-trigger="intersect once" hx-target="#history-table" hx-indicator="#loading-indicator">
        <div class="flex items-center mb-3">
            <h3 class="text-2xl font-semibold ">Uploads History</h3>
                
            <!-- Loading Indicator -->
            <div id="loading-indicator" class="items-center justify-center opacity-0 htmx-indicator">
                <div role="status" class="ml-2 spinner">
                    {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        {% if space.upload_events.count > 0 %}
            <!-- Search bar -->
            <div class="inline-flex pb-4 bg-white dark:bg-gray-900">
                <label for="table-search" class="sr-only">Search</label>
                <div class="relative flex mt-1 iems-centered">
                    <div class="absolute inset-y-0 flex items-center pointer-events-none rtl:inset-r-0 start-0 ps-3">
                        <img src="{% static 'images/icons/magnifying_lense.svg' %}" alt="Search Icon" class="w-[18px] h-[18px] text-gray-500">
                    </div>
                    <input class="outline-none block py-1.5 text-sm text-gray-900 border border-gray-300 form-control ps-10 w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="search" 
                        name="search" placeholder="Type to search..." 
                        hx-post="{% url 'history_table' space.uuid %}" 
                        hx-trigger="input changed delay:500ms, search" 
                        hx-target="#history-table" 
                        hx-indicator="#search-loading-indicator">
                </div>
                <!-- Search Loading Indicator -->
                <div id="search-loading-indicator" class="flex items-center justify-center my-auto opacity-0 htmx-indicator">
                    <div role="status" class="ml-2 spinner">
                        {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        {% endif %}
                
        <div id="history-table">            
        </div>
    </div>




    
</div>