{% if from_htmx %}
    {% include 'components/messages.html' %}
{% endif %}
<form hx-post="{% url 'account_sender_notifications' %}" hx-swap="outerHTML" class="flex flex-col">
    {% csrf_token %}
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    <div class="mb-3 md:w-1/4 w-3/4">
        <label for="{{ form.name.id_for_label }}"
               class="font-medium text-gray-900 dark:text-white">{{ form.name.label }}
            {% include 'components/tooltip.html' with content=form.name.help_text target=form.name.name %}
        </label>
        
        {{ form.name }}
        {% include 'components/forms/error_widget.html' with errors=form.name.errors %}
    </div>
    <div class="mb-3 md:w-1/4 w-3/4">
        <label for="{{ form.reference_email.id_for_label }}"
               class="font-medium text-gray-900 dark:text-white">{{ form.reference_email.label }}
            {% include 'components/tooltip.html' with content=form.reference_email.help_text target=form.reference_email.name %}

        </label>

        {{ form.reference_email }}
        {% include 'components/forms/error_widget.html' with errors=form.reference_email.errors %}
    </div>

    {% include 'components/buttons/submit.html' with extra_classes="ml-auto mr-10" button_text="Save" %}

</form>