{% load socialaccount static %}
{% load i18n %}
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <!-- Column 1: Provider Logo and Name -->
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="inline-flex items-center">

            <img src="{% static logo_url %}" alt="{{ provider.id }} Logo" class="h-[21px] w-[21px] mr-2"/>
            {{ provider.name|title }}
            {% if account %}
            ({% if account.extra_data.mail %}
                {{ account.extra_data.mail }}
            {% elif account.extra_data.email %}
                {{ account.extra_data.email }}
            {% elif account.extra_data.userPrincipalName %}
                {{ account.extra_data.userPrincipalName }}
            {% endif %})
        {% endif %}
        </div>
    </td>
    <!-- Column 2: Cloud Storage Logo and Name -->
    <td class="flex flex-col px-6 py-4 whitespace-nowrap">
        <div class="inline-flex items-center">
            <img src="{% static drive_logo_url %}" alt="{{ drive_name }} Logo" class="h-[21px] w-[21px] mr-2"/>
            {{ drive_name }}
        </div>
        {% if drive_name_2 %}
            <div class="inline-flex items-center mt-2">
                <img src="{% static drive_logo_url_2 %}" alt="{{ drive_name_2 }} Logo" class="h-[21px] w-[21px] mr-2"/>
                {{ drive_name_2 }}
            </div>
        {% endif %}
    </td>
    <!-- Column 3: Status -->
    <td class="px-6 py-4 whitespace-nowrap">
        {% if account %}
            {% if account.socialtoken_set.count > 0 %}
                <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ">

                    {% translate 'Connected' %}
                </span>

            {% else %}
                <span class="inline-flex items-center bg-yellow-100 text-yellow-800 text-xs font-semibold px-2.5 py-0.5 ">

                    {% translate 'Connection expired' %}
                </span>
            {% endif %}

        {% else %}
            <span class="inline-flex items-center bg-orange-100 text-orange-800 text-xs font-semibold px-2.5 py-0.5 ">
                {% translate 'Not connected' %}
            </span>
        {% endif %}
    </td>

    <!-- Column 4: Options -->
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="max-w-[180px]">
            {% if not account %}
                {% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next as href %}
                {% translate "Connect" as button_text %}
                {% include 'components/buttons/generic.html' with href=href  button_text=button_text %}
            {% elif account.socialtoken_set.count == 0 %}
                <div class="my-3">
                    {% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next as href %}
                    {% translate "Reconnect" as button_text %}
                    {% include 'components/buttons/generic.html' with href=href  button_text=button_text %}
                </div>
                <div class="my-3">
                    {% include 'private/settings/socialaccount_disconnect.html' with provider=provider.id %}

                </div>




            {% else %}
                {% include 'private/settings/socialaccount_disconnect.html' with provider=provider.id %}

            {% endif %}
        </div>
    </td>
</tr>