{% load socialaccount static %}
<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
    <!-- Column 1: Provider Logo and Name -->
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="inline-flex items-center">
            
            <img src="{% static logo_url %}" alt="{{provider.id}} Logo" class="h-[21px] w-[21px] mr-2" />
            {{provider.name|title}}
        </div>
    </td>
    <!-- Column 2: Cloud Storage Logo and Name -->
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="inline-flex items-center">
            <img src="{% static drive_logo_url %}" alt="{{drive_name}} Logo" class="h-[21px] w-[21px] mr-2" />
            {{drive_name}}
        </div>
    </td>
    <!-- Column 3: Status -->
    <td class="px-6 py-4 whitespace-nowrap">
        {% if account %}
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ">
                Connected
            </span>                           
        {% else %}
            <span class="inline-flex items-center bg-orange-100 text-orange-800 text-xs font-semibold px-2.5 py-0.5 ">
                Not connected
            </span> 
        {% endif %}
    </td>

    <!-- Column 4: Options -->
    <td class="px-6 py-4 whitespace-nowrap">
        <div class="max-w-[180px]">
            {% if not account %}
            <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}" class="w-[150px] flex justify-center items-center text-white bg-marian-blue-400 hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 font-medium   px-3 py-1.5 text-center dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200">
                Connect
            </a>
            {% else %}
                {% if disconnect_form.accounts.count > 1 %}
                    {% include 'private/settings/socialaccount_disconnect.html' with provider=provider.id %}
        
                {% else %}
                    <span class="whitespace-normal text-sm"> Connect another account to disconnect this </span>
                {%endif%}
            {% endif %}
        </div>
    </td>
</tr>