{% load custom_tags %}
{% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}


<form id="space-form" action="" method="POST" class="max-w-screen-md">
    {% csrf_token %}

    <!-- TITLE -->
    <div class="mt-2 mb-6">
        <div class="flex">
            <label for="{{ form.title.id_for_label }}"
                   class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.title.label }} </label>
            {{ form.title }}
            {% include 'components/tooltip.html' with content=form.title.help_text target=form.title.name placement="bottom" %}
        </div>
        {% include 'components/forms/error_widget.html' with errors=form.title.errors %}
    </div>


    <div class="mb-6">
        <div class="flex items-center mb-2 space-x-2">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Company</h3>
            {% include 'components/tooltip.html' with content=form.company.help_text target=form.company.name %}
        </div>
        <div class="flex">
            <label for="{{ form.company.id_for_label }}"
                   class="hidden mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.company.label }} </label>
            {{ form.company }}
            {% include 'components/tooltip.html' with content=form.company.help_text target=form.company.name placement="bottom" %}
        </div>
        {% include 'components/forms/error_widget.html' with errors=form.company.errors %}
    </div>

    <!-- INVITATIONS -->
    <div class="mb-6">
        <div class="flex items-center mb-2 space-x-2">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Invitees</h3>
            {% include 'components/tooltip.html' with content=form.senders_emails.help_text target=form.senders_emails.name %}
        </div>
        <div id="email-input-container" class="border-0">
            <!-- Tags will appear here, below the input field -->
            <div id="tags" class="flex flex-wrap gap-2"></div>
            <!-- Error message-->
            {% include 'components/forms/error_widget.html' with errors=form.senders_emails.errors %}
            <!-- Hidden input for form submission -->
            {{ form.senders_emails }}
        </div>
        {% include 'private/space/create/components/contacts/search_contacts_widget.html' %}
        <div class="flex items-center mb-2 space-x-2">
            <div class="flex items-center h-5">
                {{ form.notify_invitation }}
                <label for="{{ form.notify_invitation.id_for_label }}"
                       class="text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">{{ form.notify_invitation.label }}</label>
            </div>
            {% include 'components/tooltip.html' with content=form.notify_invitation.help_text target=form.notify_invitation.name %}
        </div>
    </div>


    <!-- INSTRUCTIONS -->
    <div class="mb-6">
        <div class="flex items-center mb-2 space-x-2">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Instructions</h3>
            {% include 'components/tooltip.html' with content=form.instructions.help_text target=form.instructions.name %}
        </div>
        <label for="{{ form.instructions.id_for_label }}"
               class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.instructions.label }} </label>
        {{ form.instructions }}
        {% include 'components/forms/error_widget.html' with errors=form.instructions.errors %}
    </div>

    <!-- DEADLINE -->
    <div class="mb-6" id="deadline-section">
        <div class="flex items-center mb-2 space-x-2">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">Deadline</h3>
            {% include 'components/tooltip.html' with content=form.deadline.help_text target=form.deadline.name %}
        </div>
        <div id="deadline-input-container" class="my-1 border-0">
            <label for="{{ form.deadline.id_for_label }}"
                   class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.deadline.label }} </label>
            {{ form.deadline }}
            {% include 'components/forms/error_widget.html' with errors=form.deadline.errors %}
        </div>
        <div class="hidden deadline-settings-container">

            <div class="flex items-center my-2 space-x-2">
                <div class="flex items-center h-5">
                    {{ form.notify_deadline }}
                    <label for="{{ form.notify_deadline.id_for_label }}"
                           class="hidden text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">{{ form.notify_deadline.label }}</label>
                </div>
                {% include 'components/tooltip.html' with content=form.notify_deadline.help_text target=form.notify_deadline.name %}
                {% include 'components/forms/error_widget.html' with errors=form.notify_deadline.errors %}
            </div>

            <div class="container flex-col items-center hidden mb-2 space-x-2 deadline-notice-container">
                <div class="flex flex-wrap items-center">
                    <span class="mr-0.5">Notifications will be sent {{ form.deadline_notice_days }} days and {{ form.deadline_notice_hours }} hours before the deadline.</span>

                </div>

            </div>
            {% include 'components/forms/error_widget.html' with errors=form.deadline_notice_days.errors %}


            <div class="flex items-center mb-2 space-x-2">
                <div class="flex items-center h-5">
                    {{ form.upload_after_deadline }}
                    <label for="{{ form.upload_after_deadline.id_for_label }}"
                           class="text-sm font-medium text-gray-900 ms-2 dark:text-gray-300">{{ form.upload_after_deadline.label }}</label>
                </div>
                {% include 'components/tooltip.html' with content=form.upload_after_deadline.help_text target=form.upload_after_deadline.name %}
                {% include 'components/forms/error_widget.html' with errors=form.upload_after_deadline.errors %}
            </div>
        </div>


    </div>


    {% include 'private/space/create/components/request_form.html' with action=action %}
    {% include 'components/buttons/add.html' with button_text='Add request' button_id='add-request-btn' %}


    <div class="flex justify-end {% if action == 'edit' %} sticky bottom-4 {% endif %}">
        {% include "components/buttons/submit_with_loader.html" with button_text=submit_text loading="True" extra_classes="min-w-[100px] min-h-[42px]" %}
        <span class="hidden min-w-[100px] min-h-[42px]"><span> <!-- ensures the classess are added to output css -->
    </div>
</form>
