<div class="inline-flex w-full bg-gray-50 border-gray-300 border h-[36px] pr-1.5">
    {{ search_input }}

    <!-- Loading Indicator -->
    <div id="loading-indicator-companies-search"
         class="flex items-center justify-center m-auto opacity-1 my-htmx-indicator">
        <div role="status" class="flex spinner ml-0.5">
            {% include 'components/loading_spinner_light.html' with w="w-5" h="h-5" %}
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>