{% extends "receiver/private/_base.html" %} 
{% block private_content %}
<div class="container mx-auto mt-4">
    {{ form.errors }}
    {{ form.non_field_errors }}
    <form action="." method="POST">
        {% csrf_token %}

        <div class="mb-6"> 
            {{ form.name }}
        </div>

        <div class="mb-6">
            {{ form.instructions }}
        </div>


        <div class="mb-6">
            <label for="first_name"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.deadline.label_tag }} </label>
            {{ form.deadline }}
        </div>


        <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
                {{ form.is_public }}
            </div>
            <label for="remember"
                   class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.is_public.label_tag }}</label>
        </div>
        <div class="flex items-start mb-6">
            <div class="flex items-center h-5">
                {{ form.is_active }}
            </div>
            <label for="remember"
                   class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">{{ form.is_active.label_tag }}</label>
        </div>

        {{ requests.management_form }}
        <div id="requests-container">
            {% for req in requests %}
                {{ req.errors }}
                {{ req.non_field_errors }}
                <div class="request-form">
                    <div class="mb-6 senders-input" style="display:none;">
                        <label for="first_name"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ req.senders_emails.label_tag }} </label>
                        {{ req.senders_emails }}
                    </div>
                    <div class="mb-6">
                        <label for="first_name"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ req.destination.label_tag }} </label>
                        {{ req.destination }}
                        <!--Add buttons to initiate auth sequence and sign out-->
                        <button id="authorize_button" onclick="handleAuthClick(this)">Authorize</button>
                        <button id="signout_button" onclick="handleSignoutClick()">Sign Out</button>

                    </div>

                    <div class="mb-6">
                        <label for="first_name"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ req.number_of_files.label_tag }} </label>
                        {{ req.number_of_files }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% include "receiver/components/buttons/generic.html" with button_text="Add Request" button_id="add-request-btn" %}

        {% include "receiver/components/buttons/submit.html" with button_text="Create space" %}
    </form>


    <pre id="content" style="white-space: pre-wrap;"></pre>
</div>

{% endblock %}