{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% element provider_list %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
                {% include 'receiver/components/login_google.html' with href=href provider_button_text=provider_button_text %}

        {% else %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
            {% element provider name=provider.name provider_id=provider.id href=href %}
            {% endelement %}
           {% endif %}
        {% endfor %}
    {% endelement %}
{% endif %}
 