{% load custom_tags %}

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    Invitee
                </th>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    Space Link
                </th>
                <th scope="col" class="px-6 py-3 min-w-[200px]">
                    <div class="flex items-center">            
                        <span class=" min-w-[25px] max-w-[250px] line-clamp-2" >Requests recap</span>
                    </div>
                </th>
                
                
            </tr>
        </thead>
        <tbody>
            <!-- If the space has a public link add a row with its info-->
            {% if space.is_public %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="max-w-xs px-6 py-4 font-medium text-gray-900 break-words whitespace-normal dark:text-white">
                    Everyone (public)
                </th>
                <td class="px-6 py-4">
                    <div class="inline-flex items-center">
                        <a href="{% url 'sender_space_detail_public' space.uuid %}" target = "_blank" class="text-blue-600 underline transition-colors duration-300 hover:text-blue-800">
                            link to public space
                        </a>
                        <button 
                        class="p-1 ml-2 transition-all duration-75 border border-gray-300 rounded hover:bg-gray-100 active:bg-white active:ring-2 active:ring-offset-2 active:ring-gray-300"
                        onclick="navigator.clipboard.writeText('{% url 'sender_space_detail_public' space.uuid %}')"
                        title="Copy Link">
                        Copy
                    </button>
                    
                </div>
            </td>
            <td class="px-6 py-4 ">
                <div class="">
                    <ul>
                        {% for req in space.requests.all reversed %}
                        <li class="flex items-center justify-start">
                            <span class="inline-block max-w-[120px] overflow-hidden text-ellipsis whitespace-normal flex-grow mb-1 border-r border-gray-300 pr-1">
                                {{ req.title }}
                            </span>
                            <span class="flex-shrink-0 ml-1 text-center" title="number of uploaded files">
                                {% get_count_uploaded_files req %} <!-- no sender events count -->
                            </span>
                        </li>
                        {% endfor %}
                            
                        </ul>
                    </div>
                </td>
                
            </tr>

            {% endif %}
            {% for sender in space.senders.all %}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="max-w-xs px-6 py-4 font-medium text-gray-900 break-words whitespace-normal dark:text-white">
                    {{ sender.email }}
                </th>
                <td class="px-6 py-4">
                    <div class="inline-flex items-center">
                        <a href="{{ sender.link}}" target = "_blank" class="text-blue-600 underline transition-colors duration-300 hover:text-blue-800">
                            link to the space
                        </a>
                        <button 
                        class="p-1 ml-2 transition-all duration-75 border border-gray-300 rounded hover:bg-gray-100 active:bg-white active:ring-2 active:ring-offset-2 active:ring-gray-300"
                        onclick="navigator.clipboard.writeText('{{ sender.link}}')"
                        title="Copy Link">
                        Copy
                    </button>
                    
                </div>
            </td>
            <td class="px-6 py-4 ">
                <div class="">
                    <ul>
                        {% for req in space.requests.all %}
                        <li class="flex items-center justify-start">
                            <span class="inline-block max-w-[120px] overflow-hidden text-ellipsis whitespace-normal flex-grow mb-1 border-r border-gray-300 pr-1">
                                {{ req.title }}
                            </span>
                            <span class="flex-shrink-0 ml-1 text-center" title="number of uploaded files">
                                {% get_count_uploaded_files req sender %}
                            </span>
                        </li>
                        {% endfor %}
                            
                        </ul>
                    </div>
                </td>
                
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
