{% with space_is_active=True %}

    <!-- TITLE -->
    <div class="mb-3 mt-2">
        <label class="hidden">Space title</label>
        <h2 class = "bg-transparent text-gray-900 p-2.5 w-5/6 border-0 text-4xl font-bold">
            first space
        </h2>
    </div>

    
    


    <!-- DETAILS -->
    <div class="mb-6 mt-2 pl-2.5">




        <!-- Active / paused -->
        <div class= "flex mb-3">
            Status: 
            <div class="flex items-left justify-between ml-1">
                {% if space_is_active %}
                <div class="bg-green-200 text-green-800 rounded-full text-sm px-[6px] py-[4px]] inline-block items-center justify-center">
                    active
                </div>
                {% else %}
                <div class="bg-yellow-200 text-yellow-800 rounded-full text-sm px-[6px] py-[4px]] inline-block items-center justify-center">
                    paused
                </div>
                {% endif %}
            </div>
        </div>

        <!-- created at-->
        <div class="text-base mb-2">
            <span class="">Created at:</span>
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5">
                <svg class="h-3 w-3 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H16M8 3H16M4 11H20M4 16H20M4 21H20M4 6.75V21C4 21.66 4.34 22 5 22H19C19.66 22 20 21.66 20 21V6.75C20 6.09 19.66 5.75 19 5.75H5C4.34 5.75 4 6.09 4 6.75ZM16 2V4M8 2V4"></path>
                </svg>
                2023-12-12
            </span>
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                <svg class="h-3 w-3 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"></circle>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V12H18"></path>
                </svg>
                13:00
            </span>
        </div>


        <!-- Deadline -->                
        <div class="text-base mb-2">
            <span class="">Deadline:</span>
            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5">
                <svg class="h-3 w-3 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7H16M8 3H16M4 11H20M4 16H20M4 21H20M4 6.75V21C4 21.66 4.34 22 5 22H19C19.66 22 20 21.66 20 21V6.75C20 6.09 19.66 5.75 19 5.75H5C4.34 5.75 4 6.09 4 6.75ZM16 2V4M8 2V4"></path>
                </svg>
                2023-12-02
            </span>
            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                <svg class="h-3 w-3 mr-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="12" cy="12" r="10" stroke="currentColor" stroke-width="2"></circle>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V12H18"></path>
                </svg>
                11:00
            </span>
        </div>
    </div>

     





    <!-- UPLOAD STATUS -->
    <div class="mb-6 mt-2">
        {% include "components/space/status_table.html" %}
    </div>
    

    <!-- EVENTS HISTORY -->
    {% include "components/space/history_table.html" %}


   {% endwith %}

