{% load static %}

    <!-- TITLE -->
    <div class="mt-2 mb-3">
        <label class="hidden">Space title</label>
        <h2 class = "bg-transparent text-gray-900 p-2.5 w-5/6 border-0 text-4xl font-bold">
            {{ space.title }}
        </h2>
    </div>

    
    


    <!-- DETAILS -->
    <div class="mb-6 mt-2 pl-2.5">




        <!-- Active / paused -->
        <div class= "flex mb-3">
            Status: 
            <div class="flex justify-between ml-1 items-left">
                {% if space.is_active %}
                <div class="bg-green-200 text-green-800 rounded-full text-sm px-[6px] py-[4px]] inline-block items-center justify-center">
                    active
                </div>
                {% else %}
                <div class="bg-yellow-200 text-yellow-800 rounded-full text-sm px-[6px] py-[4px]] inline-block items-center justify-center">
                    paused
                </div>
                {% endif %}
            </div>
        </div>

        <!-- created at-->
        <div class="mb-2 text-base">
            <span class="">Created at:</span>
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5">
                <img src="{% static 'images/icons/calendar-green.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.created_at|date:"Y-m-d" }} 
            </span>
            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                <img src="{% static 'images/icons/clock-green.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.created_at|time:"H:i" }}
            </span>
        </div>

    {% if space.deadline %}
        <!-- Deadline -->                
        <div class="mb-2 text-base">
            <span class="">Deadline:</span>
            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5">
                <img src="{% static 'images/icons/calendar-blue.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.deadline|date:"Y-m-d" }} 
            </span>
            <span class="inline-flex items-center bg-blue-100 text-blue-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                <img src="{% static 'images/icons/clock-blue.svg' %}" alt="clock icon" class="w-[13px] h-[13px] mr-1">
                {{ space.deadline|time:"H:i" }}
            </span>
        </div>
    </div>
{% endif %}



    <!-- UPLOAD STATUS -->
    <div class="mt-6 mb-6">
        <h3 class="mb-3 text-xl font-semibold">Status Summary</h3>
        {% include "components/space/status_table.html" %}
    </div>

    

    <!-- EVENTS HISTORY -->
    <div class="mt-6 mb-6">
        <h3 class="mb-3 text-xl font-semibold">Uploads History</h3>
        {% include "components/space/history_table.html" %}
    </div>


