{% extends 'emails/_base.html' %}
{% block content %}
    <tr>
     <td>
      <!--primary 1-->
      <table style="width:100%;">
        <tr>
            <td style="font-weight:bold;font-size:24px;padding:20px 0;">
                Remember to complete the upload at:<br> 
                <a href="{{ space_link }}" style="text-decoration:underline;">
                    {{ sender.space.title }}
                </a>
            </td>
            
        </tr>
          {% include 'emails/components/deadline_section.html' %}

          <tr>
                <td style="padding:10px 0;">
                Reference email for this invitation: {{ receiver_email }}
                </td>
            </tr>
    </table>
    {% include 'emails/components/main_section.html' %}
     </td>
    </tr>
{% endblock %}