{% extends 'emails/_base.html' %}
{% load i18n %}
{% block content %}
    <tr>
        <td>
            <table style="width:100%;">
                <tr>
                    <td style="padding:10px 0;">
                        {% with org_name=invitation.organization.name %}
                            {% blocktranslate trimmed %}

                                {{ user_identifier }} wants you to join {{ org_name }}:
                            {% endblocktranslate %}
                        {% endwith %}

                    </td>
                    <td>
                        <a href="{{ invitation.link_for_email }}" style="text-decoration:underline;">
                           {% translate 'Accept invitation' %}
                        </a>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
{% endblock %}