{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FileFetch</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>




</head>
<body class="flex flex-col min-h-screen">
    <div class="flex-grow">
        {% if not sender_area %}
            {% include 'components/navbar.html' %}
        {% endif %}
    {% include 'components/messages.html' %}

        <div {% if not sender_area %}class="pt-14"{% endif %}>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% include 'components/footer.html' %}


    {{ config_data |json_script:"config-data"  }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    {% if space_form %}
        {{ google_user_data |json_script:"google-user-data"  }}
        <script type="module" src="{% static 'src/js/space_create/index.js' %}" ></script>
    {% endif %}

    {% if sender_area %}            
        <script type="module" src="{% static 'src/js/sender_space_detail/index.js' %}"></script>
    {% endif %}
    
<script>
    // Timezone settings
    const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone; // e.g. "America/New_York"
    document.cookie = "django_timezone=" + timezone;
</script>

</body>
</html>