{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% comment %}
    <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"askConsentAtCookiePolicyUpdate":true,
    "fadpApplies":true,
    "floatingPreferencesButtonDisplay":"bottom-right",
    "lang":"en",
    "perPurposeConsent":true,
    "siteId":3476393,
    "usprApplies":true,
    "whitelabel":false,
    "cookiePolicyId":54001192,
    "banner":{ "acceptButtonDisplay":true,
        "closeButtonDisplay":false,
        "customizeButtonDisplay":true,
        "explicitWithdrawal":true,
        "listPurposes":true,
        "position":"float-bottom-center",
        "rejectButtonDisplay":true,
        "showTitle":false }};
</script>

<script type="text/javascript" src="https://cs.iubenda.com/autoblocking/3476393.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/gpp/stub.js"></script>
<script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
        {% endcomment %}
    <meta charset="UTF-8">
    <!-- Ensure proper rendering and touch zooming on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title of the website -->
    <title>{% translate 'Kezyy - Effortless File Collection' %}</title>
    <!-- Description meta tag for SEO -->
    <meta name="description"
          content={% translate "Kezyy simplifies file collection, allowing you to effortlessly receive files from anyone, anywhere." %}>
    <!-- Keywords meta tag for SEO -->
    <meta name="keywords"
          content="file collection, file sharing, direct file transfer, cloud storage, easy file upload">
    <!-- Author meta tag -->
    <meta name="author" content="Kezyy">
    <!-- Social media meta tags -->
    <meta property="og:title" content={% translate "Kezyy - Effortless File Collection" %}>
    <meta property="og:description"
          content={% translate "Simplify your file collection process with Kezyy. Receive files from anyone, anytime." %}>
    <meta property="og:image" content="{% static 'images/logo.png' %}">
    <meta property="og:url" content="https://www.kezyy.com">
    <meta name="twitter:card" content="summary_large_image">
    <link rel="canonical" href="https://kezyy.com{{ request.path }}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'src/output.css' %}">

    <script src="{% static 'src/js/htmx.min.js' %}"></script>
    <script src="{% static 'src/js/idiomorph-ext.min.js' %}"></script>


</head>
<body class="flex flex-col min-h-screen" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
<!-- htmx model target-->
<div id="htmx-modal"></div>

<div class="flex-grow">

    {% if sender_area is False %}
        {% include 'components/navbar.html' %}
    {% endif %}
    {% include 'components/messages.html' %}

    <div {% if not sender_area %}class="pt-14"{% endif %}>
        {% block content %}
        {% endblock %}
    </div>
</div>
{% include 'components/footer.html' %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
{% block scripts %}
    {% if sender_area %}
        <script type="module" src="{% static 'src/js/sender-space-detail/index.js' %}"></script>
    {% endif %}

    {% if generic_home %}
        <script type="module" src="{% static 'src/js/home/index.js' %}"></script>
    {% endif %}
{% endblock scripts %}

<script type="module" src="{% static 'src/js/index.js' %}"></script>
<!-- should be included only when needed -->


{% if log_queries %}
    <ul>
        {% for query in sql_queries %}
            <li>{{ query }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>