{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      data collection
    </div>
    <div class="card-body">
      first request
    </div>
    <div class="card-actions">
      <button class="button">View request</button>
    </div>
  </div>
<div class="card">
    <div class="card-header">
      id cards
    </div>
    <div class="card-body">
      second request
    </div>
    <div class="card-actions">
      <button class="button">View request</button>
    </div>
  </div>


</div>
{% endblock %}
