{% extends "private/space/detail/base.html" %}
{% load i18n %}
{% block space_content %}

    <div class="inline-flex mb-2">
        <div class="flex items-center mr-2 space-x-2">
            <h3 class="text-xl font-medium text-gray-900 dark:text-white">{% translate 'Sections' %}</h3>
            {% translate "Add sections below" as content %}
            {% include 'components/tooltip.html' with content=content %}
        </div>
        {% include 'components/custom_htmx_indicator.html' with loader_id='loading-indicator-sort' %}
    </div>
    
    {% include 'private/space/detail/components/add_sections.html' %}
    
    <form id="sections-container"
          class="sortable"
          hx-post="{% url 'space_section_update_order' space.pk %}"
          hx-indicator="#loading-indicator-sort"
          hx-trigger="end"
          data-accordion="collapse"
    >
        {% csrf_token %}
        {% block sorted_sections %}
            {% for space_section in space.sections_position_sorted %}
                {% include 'private/space/detail/space_section.html' with space_section=space_section %}
            {% endfor %}
        {% endblock sorted_sections %}

    </form>
    
{% endblock space_content%}