{% extends "private/space/detail/base.html" %}
{% load i18n %}
{% block space_content %}

{% if page_obj %}
    <div class="mt-6 mb-6" id="file-container">
        {% for file in page_obj %}
            {% include 'private/space/detail/components/file_row.html' with file=file %}
        {% endfor %}

    </div>
    {% if page_obj.paginator.num_pages > 1 %}
        {% include 'components/pagination.html' %}
    {% endif %}
{% else %}
    <div class="flex flex-col items-center justify-center mt-12">
        <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no files yet' %}</p>
    </div>
{% endif %}

{% endblock space_content%}