{% load i18n %}

<div class="flex text-sm text-left border-b border-gray-200 hover:bg-gray-50">
    <div class="flex-1 px-4 py-2 min-w-[150px] shrink group">

        <a href="{% url 'company_detail' company.pk %}"
           class="inline-flex items-center justify-center duration-300 cursor-pointer hover:underline transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer">
            {{ company.name }}
        </a>
    </div>
    <div class="px-2 py-2 ml-auto transition-transform duration-150 ease-in-out w-[40px] hover:text-marian-blue-300">
        <button type="button" id="company_row_dropdown_button_{{ company.pk }}" aria-expanded="false"
                data-dropdown-toggle="company_row_dropdown_{{ company.pk }}" data-dropdown-placement="left">
            <span class="sr-only">Open contact dropdown</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base font-normal list-none bg-white border border-gray-200 divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600"
             id="company_row_dropdown_{{ company.pk }}">
            <ul class="py-2" aria-labelledby="company_row_dropdown_{{ company.pk }}">
                <li>
                    <form action="{% url 'company_delete' company.pk %}"
                          onsubmit="return confirm('{% translate "Are you sure you want to delete this company?" %}');"
                          method="post">
                        {% csrf_token %}
                        <button class="block w-full px-4 py-2 text-sm text-left text-gray-700 cursor-pointer justify-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            {% translate 'Delete' %}
                        </button>
                    </form>
                </li>

            </ul>
        </div>


    </div>

</div>