{% extends "private/_base.html" %}
{% load static %}
{% load i18n %}
{% block private_content %}

    <!-- TITLE --> <!-- ADD NEW BUTTON-->
    {% translate "Companies" as title %}
    {% url 'company_create' organization.pk as href %}
    {% translate 'New company' as button_text %}
    {% include 'private/page_title.html' with title=title href=href button_text=button_text %}


    {% if page_obj %}


        <div class="w-full">
            <div class="flex text-left border-b border-gray-200">
                <div class="flex-1 px-4 py-2 font-bold min-w-[150px] shrink">
                    {% translate 'Name' %}
                </div>
                <div class="px-4 py-2 ml-auto font-bold w-[40px]">
                </div>
            </div>

            {% for company in page_obj %}
                {% include 'private/company/company_row.html' with company=company %}
            {% endfor %}
        
        </div>
        {% translate 'Companies' as objs_name %}
        {% include 'components/pagination.html' with objs_name=objs_name %}
    {% else %}
        <div class="flex flex-col items-center justify-center mt-12">
            <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no companies yet' %}</p>
        </div>
    {% endif %}
{% endblock private_content %}
