{% extends "private/_base.html" %}
{% load static %}
{% block private_content %}
{% load i18n %}
        <!-- title and new space button -->
        <div class="flex items-center justify-between mb-2">
            <h1 class="text-2xl font-bold text-gray-800">{% translate 'Companies' %}</h1>
        </div>
    
        <a href="{% url 'company_create' organization.pk %}"
           class="flex w-full p-2 text-gray-900 border-t dark:text-white">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-4 h-4 my-auto mr-1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
            </svg>
            {% translate 'Create new company' %}
        </a>
    {% if page_obj %}


<div class="relative overflow-x-auto custom-scrollbar">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400 scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-gray-100">
        <thead class="text-xs text-gray-700 uppercase border-b">
        <tr>
            <th scope="col" class="px-3 py-3 min-w-[100px] sticky left-[30px] z-10">
                {% translate 'Company Name' %}
            </th>

        </tr>
        </thead>
        <tbody>

        {% for company in page_obj %}
            {% include 'private/company/company_row.html' with company=company %}
        {% endfor %}

        </tbody>
    </table>
</div>
    {% translate 'Companies' as objs_name %}
    {% include 'components/pagination.html' with objs_name=objs_name %} 
    {% else %}
        <div class="flex flex-col items-center justify-center mt-12">
            <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no companies yet' %}</p>
        </div>
    {% endif %}
{% endblock private_content %}
