{% load i18n %}
<form hx-post="{% url 'contact_create' organization_uuid %}" id="create-contact-form">
    {% csrf_token %}
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mx-2">
            <label for="{{ form.first_name.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.first_name.label }}
            </label>
            {{ form.first_name }}
            {% include 'components/forms/error_widget.html' with errors=form.first_name.errors %}
        </div>
        <div class="mx-2">
            <label for="{{ form.last_name.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.last_name.label }}
            </label>
            {{ form.last_name }}
            {% include 'components/forms/error_widget.html' with errors=form.last_name.errors %}
        </div>
        <div class="mx-2">
            <label for="{{ form.email.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.email.label }}
            </label>
            {{ form.email }}
            {% include 'components/forms/error_widget.html' with errors=form.email.errors %}
        </div>
        <div class="mx-2">
            <label for="{{ form.company.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.company.label }}
            </label>
        {% include 'private/space/create/components/company/widget.html' with input=form.company search_input=form.search_company %}
            {% include 'components/forms/error_widget.html' with errors=form.search_company.errors %}
            {% include 'components/forms/error_widget.html' with errors=form.company.errors %}
        </div>

    </div>
    <div class="flex justify-end mx-2">
        {% translate "Save contact" as button_text %}
        {% include 'components/buttons/submit_with_loader.html' with button_text=button_text %}

    </div>
</form>
{% if show_msg %}
    {% include 'components/messages.html' %}
{% endif %}