<div class="inline-flex w-full my-2">
    <div class="relative w-full bg-gray-50 search-container">
        {% include 'private/space/create/components/contacts/input.html' %}
        <div id="search-contacts-results-container" class="absolute z-10 w-full overflow-y-auto bg-gray-50 search-results">
            {% include 'private/space/create/components/contacts/results.html' %} 

        </div>
    </div>
    <div class="items-center justify-center flex-shrink-0 my-auto ml-2">
            {% include 'private/space/create/components/contacts/add_contact.html' %}

    </div>

</div>
