<div class="m-2 grid lg:grid-cols-[0.5fr_minmax(150px,0.2fr)]">
    <div class="bg-gray-50 relative w-full ">
        {% include 'private/space/create/components/contacts/input.html' %}
        <div id="search-contacts-results-container" class="overflow-y-auto absolute z-10 bg-gray-100 w-full">
            {% include 'private/space/create/components/contacts/results.html' %}

        </div>
    </div>
    <div class="sm:m-0 m-2 inline-flex items-center justify-center">
            {% include 'private/space/create/components/contacts/add_contact.html' %}

    </div>

</div>
