<div class="inline-flex w-full my-2 contact-widget-container widget-container">
    <div class="relative w-full bg-gray-50 contact-search-container search-container">
        {% include 'private/space/create/components/contacts/input.html' with sender_uuid=sender_uuid %}
        <div id="search-contacts-results-container-{{sender_uuid}}" data-sender-uuid="{{sender_uuid}}" class="absolute z-10 w-full overflow-y-auto bg-gray-50 search-results">
            {% include 'private/space/create/components/contacts/results.html' %} 

        </div>
    </div>
        {{ input }}
</div>
