{% load static i18n %}
<div id="language_modal" tabindex="-1" class="hidden fixed top-0 left-0 right-0 z-[52] w-full mx-auto p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative mx-auto max-w-[250px] h-auto max-h-screen bg-white border border-gray-300"> 
        <div class="relative dark:bg-gray-700">
            <div class="flex items-center justify-between pt-2 pr-2 dark:border-gray-600">

                <button type="button" class="inline-flex items-center justify-center w-2.5 h-2.5 text-sm text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 ms-auto dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="language_modal">
                    <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="w-full h-full px-4 text-left">
                <div class="mx-auto font-bold">
                    {% translate 'Choose a language:' %}
                </div>

                {% load i18n %}
                <form action="{% url 'set_language' %}" method="post" id="languageForm">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.path }}"/>
                    <input name="language" type="hidden" id="languageInput"/>
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    <ul class="list-none m-2.5">
                        {% for language in languages %}
                            <li>
                                <button type="button"
                                        data-language="{{ language.code }}"
                                        class="block w-full p-2 text-base text-left text-gray-900 border-0 language-selection-button focus:ring-0 focus:border-0 hover:text-marian-blue-400 hover:underline"
                                >
                                    {% if 'it' in language.code %} {{ language.name_local|title }}
                                    {% elif 'en' in language.code %} {{ language.name_local|title }}
                                    {% else %}{{ language.name }}
                                    {% endif %}
                                </button>
                            </li>
                        {% endfor %}
                    </ul>
                </form>

            </div>
        </div>
    </div>
</div>