{% load i18n %}
{% load static %}
{% include 'components/pricing_modal.html' %}
{% include 'components/language_modal.html' %}
<nav id="navbar" class="fixed top-0 left-0 z-50 w-full bg-white border-gray-200 dark:bg-gray-900 h-14">

    <div class="flex flex-wrap items-center justify-between h-full max-w-screen-xl px-4 py-2 mx-auto">
        {% if sidebar %}
            <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar" aria-controls="default-sidebar"
                    type="button"
                    class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                <span class="sr-only">Open sidebar</span>
                <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path clip-rule="evenodd" fill-rule="evenodd"
                          d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
                </svg>
            </button>
        {% endif %}
        <!-- company logo-->
        <a href="{% url 'generic_home' %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            <img src="{% static 'images/logo.png' %}" class="h-8" alt="Kezyy Logo"/>
        </a>
        <div class="flex items-center space-x-3 md:order-2 md:space-x-0 rtl:space-x-reverse">

            {% if request.user.is_authenticated %}
                <!-- User avatar and menu only if user is logged -->
                <div class="justify-end md:min-w-[110px] md:me-0 md:inline-flex">
                    <button type="button"
                            class="flex text-sm rounded-full me-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                            data-dropdown-placement="bottom">
                        <span class="sr-only">Open user menu</span>
                        <span class="flex items-center justify-center w-8 h-8 text-sm text-white bg-blue-500 rounded-full">
                            {{ request.user.email|first|upper }}
                        </span>
                    </button>
                </div>
                <!-- Dropdown menu -->
                <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                     id="user-dropdown">
                    <div class="px-4 py-3">
                        <span class="block text-sm text-gray-900 dark:text-white">
                            {% translate 'Logged in as:' %}</span>
                        <span class="block text-sm text-gray-500 truncate dark:text-gray-400">{{ request.user.email }}</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                        <li>
                            <a href="{% url 'spaces' %}"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                               {% translate 'Spaces' %}</a>
                        </li>
                        <!-- Show upgrade plan only if the user is not subscribed -->
                        <li>
                            <!-- Pricing plan modal -->
                            <a id="plan_pricing_modal_button_navbar"
                               class="block px-4 py-2 text-sm text-gray-700 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white"
                               type="button">
                                {% if subscription %} 
                                    {% translate 'My plan' %}
                                {% else %}
                                    {% translate 'Upgrade plan' %}
                                {% endif %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'account_settings' %}"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                               {% translate 'Settings' %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ doc_url }}" target="_blank"
                               class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                               {% translate 'Help Center' %}
                            </a>
                        </li>
                        <li>
                            <form action="{% url 'account_logout' %}" method="POST">
                                {% csrf_token %}
                                <input type="submit" value={% translate "Sign out" %}
                                       class="block w-full px-4 py-2 text-sm text-left text-gray-700 cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            </form>
                        </li>
                    </ul>
                </div>
            {% else %}
                <a id="language_modal_button"
                   class="flex items-center justify-end mx-2 cursor-pointer md:inline-flex max-h-8 hover:scale-[1.05]"
                   title="Select language"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.1"
                         stroke="currentColor" class="w-6 h-6 ">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 21a9.004 9.004 0 0 0 8.716-6.747M12 21a9.004 9.004 0 0 1-8.716-6.747M12 21c2.485 0 4.5-4.03 4.5-9S14.485 3 12 3m0 18c-2.485 0-4.5-4.03-4.5-9S9.515 3 12 3m0 0a8.997 8.997 0 0 1 7.843 4.582M12 3a8.997 8.997 0 0 0-7.843 4.582m15.686 0A11.953 11.953 0 0 1 12 10.5c-2.998 0-5.74-1.1-7.843-2.918m15.686 0A8.959 8.959 0 0 1 21 12c0 .778-.099 1.533-.284 2.253m0 0A17.919 17.919 0 0 1 12 16.5c-3.162 0-6.133-.815-8.716-2.247m0 0A9.015 9.015 0 0 1 3 12c0-1.605.42-3.113 1.157-4.418"/>
                    </svg>

                    {% comment %} {% include 'components/language_selector.html' %} {% endcomment %}
                </a>
                <div class="hidden md:inline-flex md:me-0">
                    <a href="{% url 'account_login' %}"
                       class="block p-0 my-auto mr-2 text-blue-700 bg-transparent hover:underline dark:text-blue-500">{% translate 'Sign in' %}</a>
                    {% url 'generic_beta_access' as beta_access_request_url %}
                    {% translate "Access beta" as beta_text %}
                    {% include "components/buttons/generic.html" with button_text=beta_text href=beta_access_request_url extra_classes="" %}
                </div>

            {% endif %}
            {% if generic_area %} <!-- Show top menu only when the user is not in spaces pages or login pages-->

                <button id="navbar-menu-button" type="button"
                        class="inline-flex items-center justify-center w-8 h-8 p-1 my-auto text-sm text-gray-500 md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                    <span class="sr-only">Open main menu</span>
                    <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 1h15M1 7h15M1 13h15"/>
                    </svg>
                </button>
            {% endif %}
        </div>
        {% if generic_area %}
            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-menu">
                <ul class="flex flex-col p-4 mt-4 font-medium border border-gray-100 md:p-0 bg-gray-50 md:space-x-5 lg:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <div class="text-blue-500"></div> <!-- to add lass to output css-->
                        <a href="{% url 'generic_home' %}#hero_section"
                           class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{% translate 'Home' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'generic_home' %}#demo_section"
                           class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{% translate 'Demo' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'generic_home' %}#features_section"
                           class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{% translate 'Features' %}</a>
                    </li>
                    <li>
                        <a href="{% url 'generic_home' %}#pricing_section"
                           class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{% translate 'Pricing' %}</a>
                    </li>
                    <li>
                        <a href="{{ doc_url }}" target="_blank"
                           class="block px-3 py-2 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 md:dark:hover:text-blue-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700">{% translate 'Help' %}</a>
                    </li>
                    {% if request.user.is_authenticated is False %}
                        <li class="flex flex-col items-center justify-center py-2 md:hidden">
                            <a href="{% url 'account_login' %}"
                               class="px-10 py-1 text-blue-700 bg-transparent signin hover:underline dark:text-blue-500">{% translate 'Sign in' %}</a>
                            <!-- Include other elements as needed -->
                            {% url 'generic_beta_access' as generic_beta_access_url %}
                            {% translate 'Access beta' as beta_text %}
                            {% include "components/buttons/generic.html" with button_text=beta_text href=beta_access_request_url extra_classes="px-10" %}

                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    </div>
</nav>
