

<li class="me-2">
    <a href="{{url}}"
       class="inline-flex items-center justify-center p-4 {% if selected %}text-blue-600 active  border-blue-600{% else %}border-transparent hover:text-gray-600 hover:border-gray-300{% endif %} border-b-2 rounded-t-lg group"
       {% if selected %} aria-current="page" {% endif %}
       {% if blank %} target="_blank"{% endif %}>
       <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 me-2 {% if selected %}text-marian-blue-400{% else %}text-gray-400  group-hover:text-gray-500{% endif %} dark:text-blue-500 dark:group-hover:text-gray-300">
            {% for path in svg_path %}
                <path stroke-linecap="round" stroke-linejoin="round" d="{{path|safe}}" />
            {% endfor %}
 
      </svg> 
        {{alternative_text}}
    </a>
</li>