<div class="mb-2 border-b border-gray-200 dark:border-gray-700">
    <ul class="flex justify-center -mb-px font-medium text-center text-gray-500 text-medium dark:text-gray-400">
        {% for key, tab in tabs_data.items %}
            {% if tab.secondary_pk%}
                {% if pk_1 %}
                    {% url tab.url_name secondary_pk pk_1 as url %}
                {% else %}
                    {% url tab.url_name secondary_pk as url %}
                {% endif %}
            {% else %}
                {% if pk_1 %}
                    {% url tab.url_name pk pk_1 as url %}
                {% else %}
                    {% url tab.url_name pk as url %}
                {% endif %}

            {% endif %}
            {% include "components/tab_menu_element.html" with url=url alternative_text=tab.alternative_text svg_path=tab.svg_path selected=tab.active blank=tab.blank%}
        {% endfor %}
    </ul>
</div>