{% extends "private/_base.html" %}
{% block private_content %}

{% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}

{% if submission_successful %}
    <div class="flex flex-col justify-between pt-[200px] px-10">
        <div class="flex-grow">
            <div class="flex items-center justify-center h-full">
                <div class="text-center">
                    <h1 class="text-4xl font-bold text-gray-800">Thanks for requesting access to Kezyy's Beta</h1>
                    <p class="mt-2 text-2xl text-gray-600">We'll get back to you in a few hours after we have reviewed your request.</p>
                    {% url 'generic_home' as home_url %}
                    {% include 'components/buttons/generic.html' with href=home_url button_text="Back to homepage"  extra_classes="max-w-[250px] mx-auto" %}
                </div>
            </div>
        </div>
    </div> 

{% else %}
<form id="beta_access_request_form" action="" method="POST">
    {% csrf_token %}
    {{ form.honeypot }}

    <div class="max-w-2xl mx-auto">
        <h1 class="mt-6 text-4xl font-bold text-gray-800">Kezyy's Beta Access Form</h1>
        <p class="mt-2 text-sm text-gray-600">Please, provide your email address and answer these few questions.<br>
            We review requests every day and you will receive an email once you will be allowed to sign up.<br>
        Remember to insert the same email you will use to sign up via your Google or Microsoft account.</p>

    <!-- USER NAME -->
    <div class="mt-4 mb-6">
            <div class="inline-flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What's your name?</h3><p class="ml-3 text-sm text-red-500">required</p>
            </div>
            <label for="{{ form.user_name.id_for_label }}"
            class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.user_name.label }} </label>
            {{ form.user_name }}
            {% include 'components/forms/error_widget.html' with errors=form.user_name.errors %}
        </div>

        <!-- USER EMAIL -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What email do you want to use to access Kezyy's Beta?</h3>
                {% include 'components/tooltip.html' with title="Email - MANDATORY" content=form.user_email.help_text target=form.user_email.name%}
                <p class="ml-3 text-sm text-red-500">required</p>
            </div>
            <label for="{{ form.user_email.id_for_label }}"
                class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.user_email.label }}
            </label>
            {{ form.user_email }}
            {% include 'components/forms/error_widget.html' with errors=form.user_email.errors %}
        </div>

        <!-- industry -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What's your industry?</h3>
            </div>
            <label for="{{ form.industry.id_for_label }}"
                class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.industry.label }}
            </label>
            {{ form.industry }}
            {% include 'components/forms/error_widget.html' with errors=form.industry.errors %}
        </div>

        <!-- country -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What country are you from?</h3>
            </div>
            <label for="{{ form.country.id_for_label }}"
                class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.country.label }}
            </label>
            {{ form.country }}
            {% include 'components/forms/error_widget.html' with errors=form.country.errors %}
        </div>

        <!-- company -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What's your company?</h3>
            </div>
            <label for="{{ form.company.id_for_label }}"
            class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.company.label }} </label>
            {{ form.company }}
            {% include 'components/forms/error_widget.html' with errors=form.company.errors %}
        </div>

        <!-- user_role -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What's your role?</h3>
            </div>
            <label for="{{ form.user_role.id_for_label }}"
            class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.user_role.label }} </label>
            {{ form.user_role }}
            {% include 'components/forms/error_widget.html' with errors=form.user_role.errors %}
        </div>

        

        <!-- intended_use -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">What do you plan to use Kezyy for?</h3>
                <p class="ml-3 text-sm text-red-500">required</p>
            </div>
            <label for="{{ form.intended_use.id_for_label }}"
            class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.intended_use.label }} </label>
            {{ form.intended_use }}
            {% include 'components/forms/error_widget.html' with errors=form.intended_use.errors %}
        </div>

        <!-- first_touchpoint -->
        <div class="mb-6">
            <div class="flex items-center mb-2 space-x-2">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">How did you hear about Kezyy?</h3>
            </div>
            <label for="{{ form.first_touchpoint.id_for_label }}"
            class="hidden block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ form.first_touchpoint.label }} </label>
            {{ form.first_touchpoint }}
            {% include 'components/forms/error_widget.html' with errors=form.first_touchpoint.errors %}
        </div>

        {% include "components/buttons/submit.html" with button_text="Request Access to Beta" extra_classes="max-w-[250px] mx-auto"%}

    </div>

</form>
{% endif %}

{% endblock %}