{% load static %}
<div class="flex w-full max-w-[370px] p-4 mx-auto lg:w-1/3 md:w-1/2"> <!-- card --> 
                            
    <div class="flex flex-col p-5 pt-3 transition-transform duration-150 border-t-4 shadow-md hover:border-t-[6px] border-t-marian-blue-500 ease-in-ou grow hover:shadow-xl"> 

        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{title}}</h5>                                
        
        <div class="flex-grow my-2 mb-auto text-base font-medium text-gray-500">
            {{description}}
        </div>
        
        <!-- GIF / Image -->
        <div class="mt-2 mb-2">
            <img src="{% static asset_link %}" alt="{{asset_description}}">
        </div>  
        
        {% if learn_more_href %}
            <div class="flex justify-end mt-auto">
                <a href="{{learn_more_href}}" target="_blank" class="flex items-center justify-center my-auto text-sm text-blue-700 hover:text-blue-500">Learn more
                    <svg class="w-4 h-4 ml-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>    
            </div> 
        {% endif %}
        
    </div>
</div>