{% extends "private/space/detail/base.html" %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block space_content %}
<div class="mt-6 mb-6 pl-2.5">
    <div class="flex justify-end">
        {% url 'request_create' space.pk as request_create_url %}
        {% translate 'Add request' as button_text %}
        {% include "components/buttons/generic.html" with button_text=button_text href=request_create_url extra_classes="my-2" %}
    </div>

{% if page_obj %}
    <div class="w-full">
    <div class="flex text-left border-b border-gray-200">
        <div class="flex-1 px-4 py-2 font-bold min-w-[150px] shrink">
            {% translate 'Title' %}
        </div>
        <div class="flex-1 px-4 py-2 font-bold min-w-[150px] shrink">
            {% translate 'Inputs Status' %}
        </div>
        <div class="flex-1 px-4 py-2 font-bold min-w-[150px] shrink">
            {% translate 'Last upload' %}
        </div>
        <div class="flex-1 px-4 py-2 font-bold min-w-[150px] shrink">
            {% translate 'Status' %}
        </div>
        <div class="px-4 py-2 ml-auto font-bold w-[40px]">
        </div>
    </div>
    {% for kezyy_request in page_obj reversed %}
        {% include 'private/space/detail/request/request_row.html' with kezyy_request=kezyy_request %}
    {% endfor %}
</div> 
{% if page_obj.end_index > 1 %}
    {% translate "Requests" as obj_name %}
    {% include 'components/pagination.html' with objs_name=obj_name %} 
{% endif %}
{% else %}
    <div class="flex flex-col items-center justify-center mt-12">
        <p class="mb-3 text-2xl text-center text-gray-500">{% translate 'There are no Request yet' %}</p>
    </div>
{% endif %}

{% endblock space_content %}


