{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>FileFetch</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>

    <script src="{% static 'src/space_create.js' %}" ></script>
</head>
<body>
{% include 'receiver/components/navbar.html' %}
<div class="pt-14">
{% block content %}
{% endblock %}
</div>


{{ config_data |json_script:"config-data"  }}
{{ user_data |json_script:"user-data"  }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
{% if picker_js %}

<script type="text/javascript" src="{% static 'src/google_picker.js' %}"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>

{% endif %}

</body>
</html>