{% extends 'private/_base.html' %}
{% load i18n socialaccount static allauth %}

{% block private_content %}
{% get_providers as socialaccount_providers %}

<!-- SOCIAL ACCOUNT MANAGEMENT -->

{% if socialaccount_providers %}
    {% url 'account_settings' as next %}
    {% element provider_list %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" and not request.custom_user.google_account %}
                <p>
                    <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}">
                        Connect a {{ provider.id|title }} account
                    </a>
                </p>
            {% elif provider.id == "microsoft" and not request.custom_user.microsoft_account %}
                <p>
                    <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}">
                        Connect a {{ provider.id|title }} account
                    </a>
                </p>
            {% endif %}
        {% endfor %}
 
    {% endelement %}

{% endif %}


<!-- SOCIAL ACCOUNT MANAGEMENT -->
{% if socialaccount_providers %}
    {% url 'account_settings' as next %}
    {% element provider_list %}
    <div class="relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">Provider</th>
                    <th scope="col" class="px-6 py-3">Cloud Storage</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3">Options</th>
                </tr>
            </thead>
            <tbody>
                {% for provider in socialaccount_providers %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <!-- Column 1: Provider Logo and Name -->
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if provider.id == "google" %}
                        <div class="inline-flex items-center">
                            <img src="{% static 'images/social_account_providers/google-logo-color.svg' %}" alt="Google Logo" class="h-[21px] w-[21px] mr-2" />
                            Google
                        </div>
                        {% elif provider.id == "microsoft" %}
                        <div class="inline-flex items-center">
                            <img src="{% static 'images/social_account_providers/microsoft-logo-color.svg' %}" class="h-[21px] w-[21px] mr-2" alt="MS Logo" />
                            Microsoft
                        </div>
                        {% endif %}
                    </td>

                    <!-- Column 2: Cloud Storage Logo and Name -->
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if provider.id == "google" %}
                        <div class="inline-flex items-center">
                            <img src="{% static 'images/drive_providers/google_drive-logo.svg'%}" alt="GoogleDrive Logo" class="h-[21px] w-[21px] mr-2" />
                            Google Drive
                        </div>
                        {% elif provider.id == "microsoft" %}
                        <div class="inline-flex items-center">
                            <img src="{% static 'images/drive_providers/one_drive-logo.svg'%}" alt="OneDrive Logo" class="h-[21px] w-[21px] mr-2" />
                            OneDrive
                        </div>
                        {% endif %}
                    </td>

                    <!-- Column 3: Status -->
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if provider.id == "google" %}
                            {% if not request.custom_user.google_account %}
                            <span class="inline-flex items-center bg-orange-100 text-orange-800 text-xs font-semibold px-2.5 py-0.5 ml-2">
                                Not connected
                            </span>                            
                            {% else %}
                            <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ">
                                Connected
                            </span>
                            {% endif %}

                        {% elif provider.id == "microsoft" %}
                            {% if not request.custom_user.microsoft_account %}
                                <span class="inline-flex items-center bg-orange-100 text-orange-800 text-xs font-semibold px-2.5 py-0.5 ">
                                    Not connected
                                </span>
                                {% else %}
                                <span class="inline-flex items-center bg-green-100 text-green-800 text-xs font-semibold px-2.5 py-0.5 ">
                                    Connected
                                </span>
                            {% endif %}
                        {% endif %}
                    </td>

                    <!-- Column 4: Options -->
                    <td class="px-6 py-4 whitespace-nowrap">
                        {% if provider.id == "google" %}
                            {% if not request.custom_user.google_account %}
                            <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}" class="flex justify-center items-center text-white bg-marian-blue-400 hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 font-medium   px-3 py-1.5 text-center dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200">
                                Connect a {{ provider.id|title }} account
                            </a>
                            {% else %}
                                {% if disconnect_form.accounts.count > 1 %}
                                    <span> DELETE GOOGLE </span>
                                {% else %}
                                    <span> Connect another account to disconnect this </span>
                                {%endif%}
                            {% endif %}

                        {% elif provider.id == "microsoft" %}
                            {% if not request.custom_user.microsoft_account %}
                                <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}" class="w-[150px] flex justify-center items-center text-white bg-marian-blue-400 hover:bg-marian-blue-300 focus:outline-none focus:ring-marian-blue-300 font-medium   px-3 py-1.5 text-center dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200">
                                    Connect
                                </a>
                                {% else %}
                                {% if disconnect_form.accounts.count > 1 %}
                                    <span> DELETE MICROSOFT </span>
                                {% else %}
                                    <span> Connect another account to disconnect this </span>
                                {%endif%}
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endelement %}
{% else %}
    <p>No providers available.</p>
{% endif %}





{% if socialaccount_providers %}
    {% url 'account_settings' as next %}
    {% element provider_list %}
    <ul>
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" %}
                <li>
                    <span> GOOGLE </span>
                    {% if not request.custom_user.google_account %}
                        <p>
                            <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}">
                                Connect a {{ provider.id|title }} account
                            </a>
                        </p>
                    {% else %}

                    <span> DELETE GOOGLE </span>

                    {% endif %}
                </li>
            {% elif provider.id == "microsoft" %}
            <li>
                <span> MICROSOFT </span>
                {% if not request.custom_user.microsoft_account %}
                    <p>
                        <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}">
                            Connect a {{ provider.id|title }} account
                        </a>
                    </p>
                {% else %}
                    <span> DELETE MICROSOFT </span>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
 
    {% endelement %}

{% endif %}



        
        
        {% if disconnect_form.accounts.count > 1 %}
    <form action="{% url 'socialaccount_connections' %}" method="POST">
    {% csrf_token %}
        
        {% for acc in disconnect_form.fields.account.choices %}
                    {% with account=acc.0.instance.get_provider_account %}
                        {% setvar radio_id %}
                            id_account_{{ account.account.pk }}
                        {% endsetvar %}
                        {% setvar tags %}
                            socialaccount,{{ account.account.provider }}
                        {% endsetvar %}
                        {% element field id=radio_id type="radio" name="account" value=account.account.pk %}
                            {% slot label %}
                                {{ account }}
                                {% element badge tags=tags %}
                                    {{ account.get_brand.name }}
                                {% endelement %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
        {% include 'components/buttons/submit.html' with button_text="Disconnect" %}
    </form>
        {% endif %}
<form action="{% url 'account_delete' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="account-delete-alert items-center ml-2 text-gray-600 transition duration-300 first-letter:inline-flex hover:text-gray-800 group flex" >
            <img src="{% static 'images/icons/trashcan.svg' %}" alt="trashcan icon" class=" w-[16px] h-[16px] transition-transform duration-300 bi bi-folder group-hover:scale-110">
    Delete account
    </button>
</form>
{% endblock %}