{% extends 'private/_base.html' %}
{% load i18n socialaccount static allauth %}

{% block private_content %}
{% get_providers as socialaccount_providers %}

<!-- SOCIAL ACCOUNT MANAGEMENT -->

{% if socialaccount_providers %}
    {% url 'account_settings' as next %}
    {% element provider_list %}
        {% for provider in socialaccount_providers %}
            {% if provider.id == "google" and not request.custom_user.google_account %}
                <p>
                    <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}">
                        Connect a {{ provider.id|title }} account
                    </a>
                </p>
            {% elif provider.id == "microsoft" and not request.custom_user.microsoft_account %}
                <p>
                    <a href="{% provider_login_url provider process="connect" scope=scope auth_params=auth_params next=next %}">
                        Connect a {{ provider.id|title }} account
                    </a>
                </p>
            {% endif %}
        {% endfor %}

    {% endelement %}

{% endif %}
        
        
        {% if disconnect_form.accounts.count > 1 %}
    <form action="{% url 'socialaccount_connections' %}" method="POST">
    {% csrf_token %}
        
        {% for acc in disconnect_form.fields.account.choices %}
                    {% with account=acc.0.instance.get_provider_account %}
                        {% setvar radio_id %}
                            id_account_{{ account.account.pk }}
                        {% endsetvar %}
                        {% setvar tags %}
                            socialaccount,{{ account.account.provider }}
                        {% endsetvar %}
                        {% element field id=radio_id type="radio" name="account" value=account.account.pk %}
                            {% slot label %}
                                {{ account }}
                                {% element badge tags=tags %}
                                    {{ account.get_brand.name }}
                                {% endelement %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
        {% include 'components/buttons/submit.html' with button_text="Disconnect" %}
    </form>
        {% endif %}
<form action="{% url 'account_delete' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="account-delete-alert items-center ml-2 text-gray-600 transition duration-300 first-letter:inline-flex hover:text-gray-800 group flex" >
            <img src="{% static 'images/icons/trashcan.svg' %}" alt="trashcan icon" class=" w-[16px] h-[16px] transition-transform duration-300 bi bi-folder group-hover:scale-110">
    Delete account
    </button>
</form>
{% endblock %}