{% load i18n %}
<aside id="default-sidebar"
       class="fixed top-0 left-0 z-40 w-64 h-screen pt-20 transition-transform -translate-x-full bg-white border-r border-gray-200 sm:relative sm:z-0 sm:pt-0 sm:w-auto sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="h-full px-3 py-4 overflow-y-auto">
        <label id="dropdown-organization-label" class="block mb-1 text-sm font-medium">{% translate 'Organization' %}</label>

        <button id="dropdown-organization-button" data-dropdown-toggle="dropdown-organization"
                class="w-full border-gray-200 border hover:bg-gray-100 focus:outline-none px-3 font-medium py-1.5 text-center inline-flex items-center justify-between dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200"
                type="button">
            {{ organization.name }}
            <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4"/>
            </svg>
        </button>

        <div id="dropdown-organization"
             class="z-10 hidden w-full bg-white divide-y divide-gray-100 shadow dark:bg-gray-700">
            <ul class="text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdown-organization-button">
                {% for org in request.user.organizations.all %}
                    {% if org != organization %}
                        <li class=" hover:bg-gray-100 dark:hover:bg-gray-700">
                            <a href="{% url 'spaces' org.uuid %}"
                               class="flex w-full p-2 text-gray-900 dark:text-white">
                                {{ org.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="hover:bg-gray-100 dark:hover:bg-gray-700">
                    <a hx-get="{% url 'create_organization_modal' %}"
                       hx-target="#htmx-modal"
                       href="#"
                       hx-swap="innerHTML"
                       class="flex w-full p-2 text-gray-900 border-t dark:text-white">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="w-4 h-4 my-auto mr-1">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                        </svg>

                        {% translate 'Create new organization' %}
                    </a>
                </li>
            </ul>
        </div>


        <ul class="space-y-2 font-medium">
            <li class="my-3">
                {% if request.user.can_create_space is True %}
                    {% url 'space_create_v1' organization.uuid as space_detail_url %}
                    {% include "components/buttons/generic.html" with button_text=new_space_button_text href=space_detail_url extra_classes="w-full inline-flex" %}
                    <!-- Pricing plan modal -->
                {% else %}
                    {% include "components/buttons/generic.html" with button_text=new_space_button_text button_id="plan_pricing_modal_button_list" extra_classes="w-full inline-flex" %}

                {% endif %}
            </li>
            <li>
                <a href="{% if organization %}{% url 'spaces' organization.pk %}{% else %}{% url 'spaces' %}{% endif %}"
                   class="flex items-center p-2 dark:text-white {% if sidebar.space %}bg-gray-100{% endif %} hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6.429 9.75 2.25 12l4.179 2.25m0-4.5 5.571 3 5.571-3m-11.142 0L2.25 7.5 12 2.25l9.75 5.25-4.179 2.25m0 0L21.75 12l-4.179 2.25m0 0 4.179 2.25L12 21.75 2.25 16.5l4.179-2.25m11.142 0-5.571 3-5.571-3"/>
                    </svg>
                    <span class="ms-3">{% translate 'Dashboard' %}</span>
                </a>
            </li>

            <li>
                <a href="{% url 'companies' organization.pk %}"
                   class="flex items-center p-2 dark:text-white {% if sidebar.company %}bg-gray-100{% endif %} hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"/>
                    </svg>

                    <span class="flex-1 ms-3 whitespace-nowrap">{% translate 'Companies' %}</span>
                </a>
            </li>
            <li>
                <a href="{% url 'contacts' organization.pk %}"
                   class="flex items-center p-2 dark:text-white {% if sidebar.contact %}bg-gray-100{% endif %} hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"/>
                    </svg>

                    <span class="flex-1 ms-3 whitespace-nowrap">{% translate 'Contacts' %}</span>
                </a>
            </li>

            <li>
                <a href="{% url 'team' organization.pk %}"
                   class="flex items-center p-2 dark:text-white {% if sidebar.team %}bg-gray-100{% endif %} hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z"/>
                    </svg>

                    <span class="flex-1 ms-3 whitespace-nowrap">{% translate 'Team' %}</span>
                </a>
            </li>
            {% comment %}
                    <li>
                <a href="#"
                   class="flex items-center p-2 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                              d="M9.6 2.6A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2l.5.3a2 2 0 0 1 2.9 0l1.4 1.3a2 2 0 0 1 0 2.9l.1.5h.1a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2l-.3.5a2 2 0 0 1 0 2.9l-1.3 1.4a2 2 0 0 1-2.9 0l-.5.1v.1a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2l-.5-.3a2 2 0 0 1-2.9 0l-1.4-1.3a2 2 0 0 1 0-2.9l-.1-.5H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2l.3-.5a2 2 0 0 1 0-2.9l1.3-1.4a2 2 0 0 1 2.9 0l.5-.1V4c0-.5.2-1 .6-1.4ZM8 12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"
                              clip-rule="evenodd"/>
                    </svg>

                    <span class="ms-3">Settings</span>
                </a>
            </li>
        {% endcomment %}

        </ul>
    </div>
</aside>