<aside id="default-sidebar"
       class="fixed sm:relative top-0 left-0 z-40 sm:z-0 w-64 h-screen pt-20 sm:pt-0 sm:w-auto transition-transform -translate-x-full bg-white border-r border-gray-200 sm:translate-x-0 dark:bg-gray-800 dark:border-gray-700">
    <div class="h-full px-3 py-4 overflow-y-auto">
        <label id="dropdown-organization-label" class="block text-sm font-medium mb-1">Organization</label>
        <button id="dropdown-organization-button" data-dropdown-toggle="dropdown-organization"
                class="w-full border-gray-200 border hover:bg-gray-100 focus:outline-none px-3 font-medium py-1.5 text-center inline-flex items-center justify-between dark:bg-marian-blue-400 dark:hover:bg-marian-blue-300 dark:focus:ring-marian-blue-200"
                type="button">
            {{ organization.name }}
            <svg class="w-2.5 h-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                 viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 4 4 4-4"/>
            </svg>
        </button>
        <div id="dropdown-organization"
             class="z-10 w-full hidden bg-white divide-y divide-gray-100 shadow dark:bg-gray-700">
            <ul class="text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdown-organization-button">
                {% for org in request.user.organizations.all %}
                    {% if org != organization %}
                        <li class=" hover:bg-gray-100 dark:hover:bg-gray-700">
                            <a href="{% url 'spaces' org.uuid %}"
                               class="flex p-2 text-gray-900 dark:text-white w-full">
                                {{ org.name }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
                <li class="hover:bg-gray-100 dark:hover:bg-gray-700">
                    <a hx-get="{% url 'create_organization_modal' %}"
                       hx-target="#htmx-modal"
                       href="#"
                       hx-swap="innerHTML"
                       class="flex p-2 border-t text-gray-900 dark:text-white w-full">
                        Create new organization
                    </a>
                </li>
            </ul>
        </div>


        <ul class="space-y-2 font-medium">
            <li class="my-3">
                {% if user_maxed_spaces %}
                    <!-- Pricing plan modal -->
                    {% include "components/buttons/generic.html" with button_text=new_space_button_text button_id="plan_pricing_modal_button_list" extra_classes="w-full inline-flex" %}
                {% else %}
                    {% url 'space_create' organization.uuid as space_detail_url %}
                    {% include "components/buttons/generic.html" with button_text=new_space_button_text href=space_detail_url extra_classes="w-full inline-flex" %}
                {% endif %}
            </li>
            <li>
                <a href="{% if organization %}{% url 'spaces' organization.pk %}{% else %}{% url 'spaces' %}{% endif %}"
                   class="flex items-center p-2 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                    </svg>
                    <span class="ms-3">Dashboard</span>
                </a>
            </li>

            <li>
                <a href="{% url 'team' organization.pk %}"
                   class="flex items-center p-2 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                         aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Team</span>
                </a>
            </li>
            {% comment %}
                    <li>
                <a href="#"
                   class="flex items-center p-2 dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 dark:text-white" aria-hidden="true"
                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24">
                        <path fill-rule="evenodd"
                              d="M9.6 2.6A2 2 0 0 1 11 2h2a2 2 0 0 1 2 2l.5.3a2 2 0 0 1 2.9 0l1.4 1.3a2 2 0 0 1 0 2.9l.1.5h.1a2 2 0 0 1 2 2v2a2 2 0 0 1-2 2l-.3.5a2 2 0 0 1 0 2.9l-1.3 1.4a2 2 0 0 1-2.9 0l-.5.1v.1a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2l-.5-.3a2 2 0 0 1-2.9 0l-1.4-1.3a2 2 0 0 1 0-2.9l-.1-.5H4a2 2 0 0 1-2-2v-2a2 2 0 0 1 2-2l.3-.5a2 2 0 0 1 0-2.9l1.3-1.4a2 2 0 0 1 2.9 0l.5-.1V4c0-.5.2-1 .6-1.4ZM8 12a4 4 0 1 1 8 0 4 4 0 0 1-8 0Z"
                              clip-rule="evenodd"/>
                    </svg>

                    <span class="ms-3">Settings</span>
                </a>
            </li>
        {% endcomment %}

        </ul>
    </div>
</aside>