{% extends "private/_base.html" %}
{% block private_content %}

    <!-- TAB SELECTOR -->
    <div class="mx-auto max-w-2xl">
        <ul class="hidden text-sm font-medium text-center text-gray-500 border border-gray-300 sm:flex dark:divide-gray-700 dark:text-gray-400">
            <li class="w-full">
                <a href="{{ request.path }}" class="inline-block w-full p-2.5 {% if status != 'edit' %}text-white bg-marian-blue-600{% else %}bg-white hover:text-white hover:bg-marian-blue-800{% endif %} border-r border-gray-300 dark:border-gray-700 focus:outline-none dark:bg-gray-700 dark:text-white">Summary</a>
            </li>
            <li class="w-full">
                <a href="?status=edit" class="inline-block w-full p-2.5 {% if status == 'edit' %}text-white bg-marian-blue-600{% else %}bg-white hover:text-white hover:bg-marian-blue-800{% endif %} border-s-0 border-gray-300 dark:border-gray-700 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Edit</a>
            </li>
        </ul>
    </div>

    {% if status == 'edit' %}
        {% include 'components/forms/space.html' with action='edit' %}
    {% else %}
        {% include 'components/space/summary.html' %}
    {% endif %}
{% endblock %}

