{% load allauth socialaccount %}
{% get_providers as socialaccount_providers %}
{% if socialaccount_providers %}
    {% element provider_list %}
        {% for provider in socialaccount_providers %}
            {% provider_login_url provider process=process scope=scope auth_params=auth_params as href %}
            {% if provider.id == "google" or provider.id == "microsoft" %}
                {% include 'public/snippets/custom_login_social.html' with href=href provider_id=provider.id name=provider.name %}
            {% else %}
                {% element provider name=provider.name provider_id=provider.id href=href %}
                {% endelement %}
           {% endif %}
        {% endfor %}
    {% endelement %}
{% endif %}
 