{% extends "private/grant/_base.html" %}
{% load i18n %}

{% block grant_content %}
    


<div class="inline-flex mt-4">    
    
    <!--GRANT OFFICIAL NAME-->
    {% if grant.official_name %}
        <h2 class="mr-4 text-3xl font-bold">{{ grant.official_name }}</h2>
    {% else %}
        <h2 class="mr-4 text-3xl font-bold">{% translate 'No official name' %}</h2>
    {% endif %}

    <!--GRANT STATUS-->
    <div class="mx-2 text-sm my-auto  {% if grant.status == grant.GrantStatus.ANNOUNCED %} text-blue-800 bg-blue-200 {% elif grant.status == grant.GrantStatus.PUBLISHED %} text-green-800 bg-green-200 {% elif grant.status == grant.GrantStatus.CLOSED %} text-red-800 bg-red-200{%endif%} align-middle  rounded-full px-[8px] flex items-center justify-center">
        <span class="text-sm  align-middle rounded-full px-[8px] flex items-center justify-center whitespace-nowrap">
            {{ grant.status }}
        </span>
    </div>
</div>


























{% endblock grant_content %}
