{% load static i18n %}
{% if False %} <div class="scale-[0.98]"></div> {% endif %}
<div class="flex text-sm text-left border-b border-gray-200 hover:bg-gray-50 group">

    <div class="inline-felx flex inner-group bg-gray-100 border-r flex-1 py-2 px-1.5 min-w-[200px] max-w-[250px] shrink">
    <a class="font-medium break-all transition duration-150 ease-in-out transform cursor-pointer hover:underline"
    href="{% url 'grant_detail' grant.pk %}"
    title="{% translate 'Open:' %} {{ grant.name}}"
    onmousedown="this.classList.add('scale-[0.98]', 'text-marian-blue-400')"
    onmouseup="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
    onmouseleave="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
    ontouchstart="this.classList.add('scale-[0.98]', 'text-marian-blue-400')"
    ontouchend="this.classList.remove('scale-[0.98]', 'text-marian-blue-400')"
    onclick="navigator.clipboard.writeText('{{ grant.name}}')">
       {{ grant.name}}
    </a>
       <div class="my-auto opacity-0 inner-group-hover:opacity-100">
           {% include 'components/buttons/copy_button.html' with text=grant.name %}
       </div>
    </div>

    <div class="flex-1 inline-flex py-2 px-1.5 min-w-[190px] shrink break-all items-center inner-group grow">
        ....
        {% if contact.full_name %}
        <div class="opacity-0 inner-group-hover:opacity-100">
            {% include 'components/buttons/copy_button.html' with text=contact.full_name %}
        </div>
        {% endif %}
    </div>

    
    <div class="p-1  w-[35px] flex">
        <button type="button" id="grant_row_dropdown_button_{{ grant.pk }}" aria-expanded="false"
                data-dropdown-toggle="grant_row_dropdown_{{ grant.pk }}" data-dropdown-placement="left"
                class="text-gray-700 m-auto transition-transform duration-150 ease-in-out rounded hover:text-marian-blue-400 hover:bg-gray-200 p-0.5">
            <span class="sr-only">Open grant dropdown</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base font-normal list-none bg-white border border-gray-200 divide-y divide-gray-100 rounded shadow-lg dark:bg-gray-700 dark:divide-gray-600"
             id="grant_row_dropdown_{{ grant.pk }}">
            <ul class="py-1 text-sm" aria-labelledby="grant_row_dropdown_{{ grant.pk }}">
                <li>
                    <form action="{% url 'grant_delete' grant.pk %}?next={{ request.get_full_path }}"
                          onsubmit="return confirm('{% translate "Are you sure you want to delete this grant?" %}');"
                          method="post">
                        {% csrf_token %}
                        <button class="block w-full px-4 py-2 text-xs text-left text-gray-700 cursor-pointer justify-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            {% translate 'Delete' %}
                        </button>
                    </form>
                </li>

            </ul>
        </div>

    </div>

</div>


{% comment %} 

<div class="flex text-sm text-left border-b border-gray-200 hover:bg-gray-50">
    <div class="flex-1 px-4 py-2 min-w-[150px] shrink group">
        <a href="{% url 'grant_detail' grant.pk %}"
           class="inline-flex items-center justify-center duration-300 cursor-pointer hover:underline transition-ctext-gray-600 colors hover:text-gray-800 group hover:cursor-pointer">
            {{ grant.name }}
        </a>
    </div>
    <div class="px-2 py-2 ml-auto transition-transform duration-150 ease-in-out w-[40px] hover:text-marian-blue-300">
        <button type="button" id="grant_row_dropdown_button_{{ grant.pk }}" aria-expanded="false"
                data-dropdown-toggle="grant_row_dropdown_{{ grant.pk }}" data-dropdown-placement="left">
            <span class="sr-only">Open contact dropdown</span>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                 stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M6.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM12.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0ZM18.75 12a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z"/>
            </svg>
        </button>
        <!-- Dropdown menu -->
        <div class="z-50 hidden my-4 text-base font-normal list-none bg-white border border-gray-200 divide-y divide-gray-100 rounded-lg shadow-lg dark:bg-gray-700 dark:divide-gray-600"
             id="grant_row_dropdown_{{ grant.pk }}">
            <ul class="py-2" aria-labelledby="grant_row_dropdown_{{ grant.pk }}">
                <li>
                    <form action="{% url 'grant_delete' grant.pk %}?next={{ request.get_full_path }}"
                          onsubmit="return confirm('{% translate "Are you sure you want to delete this grant?" %}');"
                          method="post">
                        {% csrf_token %}
                        <button class="block w-full px-4 py-2 text-sm text-left text-gray-700 cursor-pointer justify-left hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                            {% translate 'Delete' %}
                        </button>
                    </form>
                </li>

            </ul>
        </div>


    </div>

</div>
 {% endcomment %}