<form method="POST" id="edit-grant-form" class="grant-form">
    {% csrf_token %}
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mx-2">
            <label for="{{ form.official_name.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.official_name.label }}
            </label>
            {{ form.official_name }}
            {% include 'components/forms/error_widget.html' with errors=form.official_name.errors %}
        </div>
        <div class="mx-2">
            <label for="{{ form.financer_name.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.financer_name.label }}
            </label>
            {{ form.financer_name }}
            {% include 'components/forms/error_widget.html' with errors=form.financer_name.errors %}
        </div>
        <div class="mx-2">
            <label for="{{ form.financer_website_link.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.financer_website_link.label }}
            </label>
            {{ form.financer_website_link }}
            {% include 'components/forms/error_widget.html' with errors=form.financer_website_link.errors %}
        </div>
        <div class="mx-2">
            <label for="{{ form.descriptive_timeline.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.descriptive_timeline.label }}
            </label>
            {{ form.descriptive_timeline }}
            {% include 'components/forms/error_widget.html' with errors=form.descriptive_timeline.errors %}
        </div>
    </div>
</form>