{% load i18n %}
<div class="flex justify-between mb-1 outer-group output-content" hx-get="{% url 'output_detail' output.pk %}" hx-trigger="{{ output.update_event }} from:body" hx-swap="outerHTML">
    
    {% if output.file %}
        <!--file thumb nail-->
        <div class="inline-flex ml-1 inner-group">
            <a href="{{  output.file.url }}" download target="_blank" class="inline-flex my-auto">
                {% include 'private/request/detail/file_thumbnail.html' with file=output.file dim="25" %}
                <div class="my-auto ml-1 text-xs inner-group-hover:underline max-w-[400px] break-all ">{{ output.content }}</div>
            </a>
        </div>
    {% else %}
        <div class="inline-flex ml-1"> 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-500 cursor-pointer hover:scale-110 hover:text-marian-blue-400"
            title="{% translate 'Click to copy' %}"
            onclick="navigator.clipboard.writeText('{{ output.content }}')">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.666 3.888A2.25 2.25 0 0 0 13.5 2.25h-3c-1.03 0-1.9.693-2.166 1.638m7.332 0c.055.194.084.4.084.612v0a.75.75 0 0 1-.75.75H9a.75.75 0 0 1-.75-.75v0c0-.212.03-.418.084-.612m7.332 0c.646.049 1.288.11 1.927.184 1.1.128 1.907 1.077 1.907 2.185V19.5a2.25 2.25 0 0 1-2.25 2.25H6.75A2.25 2.25 0 0 1 4.5 19.5V6.257c0-1.108.806-2.057 1.907-2.185a48.208 48.208 0 0 1 1.927-.184" />
            </svg>
        
            <div class="my-auto ml-1 text-xs inner-group-hover:underline max-w-[400px] break-all">{{ output.content }}</div>
        </div>
    {% endif %}

    {% if output.sender_event.notes %}
        <button data-tooltip-trigger="click"
        data-tooltip-target="tooltip-tag-{{output.pk}}"
        data-tooltip-style="light"
        data-tooltip-placement="top"
        type="button"
        title="{% translate 'Notes from the sender' %}"
        class="items-center ml-2 transition-all duration-300 rounded group shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" class="w-4 h-4 transition-transform duration-300 hover:scale-110 hover:text-marian-blue-400">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
            </svg>  
        </button>

        <div id="tooltip-tag-{{output.pk}}"
        role="tooltip"
        class="max-w-[300px] absolute z-50 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip -translate-x-1/2 left-1/2 bottom-full mb-2  bg-white">
            <p>{{ output.sender_event.notes }}</p>
        </div>
    {% endif %}
    
    
    <div class="flex my-auto ml-auto">
        
        {% if output.status == output.OutputStatus.PENDING %}
            <div class="ml-2 text-sm min-w-[20px] min-h-[20px] outer-group-hover:min-w-[75px] transition-all duration-200 ease-in-out text-blue-800 z-[2] align-middle peer-checked:inline-block bg-blue-200 rounded-full px-[6px] flex items-center justify-center">
                <span class="hidden transition-opacity duration-200 ease-in-out opacity-0 outer-group-hover:opacity-100 outer-group-hover:inline">{{ output.status }}</span>
            </div>
        {% elif  output.status == output.OutputStatus.ACCEPTED %}
            <div class="ml-2 text-sm min-w-[20px] min-h-[20px] outer-group-hover:min-w-[75px] transition-all duration-200 ease-in-out text-green-800 z-[2] align-middle peer-checked:inline-block bg-green-200 rounded-full px-[6px] flex items-center justify-center">
                <span class="hidden transition-opacity duration-200 ease-in-out opacity-0 outer-group-hover:opacity-100 outer-group-hover:inline">{{ output.status }}</span>
            </div>
        {% elif output.status == output.OutputStatus.REJECTED %}
            <div class="ml-2 text-sm min-w-[20px] min-h-[20px] outer-group-hover:min-w-[75px] transition-all duration-200 ease-in-out text-red-800 z-[2] align-middle peer-checked:inline-block bg-red-200 rounded-full px-[6px] flex items-center justify-center">
                <span class="hidden transition-opacity duration-200 ease-in-out opacity-0 outer-group-hover:opacity-100 outer-group-hover:inline">{{ output.status }}</span>
                {% if output.feedback %}
                    <button data-tooltip-trigger="click"
                    data-tooltip-target="tooltip-tag-{{output.pk}}"
                    data-tooltip-style="light"
                    data-tooltip-placement="top"
                    type="button"
                    title="{% translate 'Rejection notes' %}"
                    class="items-center hidden transition-all duration-300 rounded outer-group-hover:inline-flex group shrink-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.7" stroke="currentColor" class="w-4 h-4 transition-transform duration-300 hover:scale-110">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9.879 7.519c1.171-1.025 3.071-1.025 4.242 0 1.172 1.025 1.172 2.687 0 3.712-.203.179-.43.326-.67.442-.745.361-1.45.999-1.45 1.827v.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9 5.25h.008v.008H12v-.008Z" />
                    </svg>  
                    </button>

                    <div id="tooltip-tag-{{output.pk}}"
                    role="tooltip"
                    class="max-w-[300px] absolute z-50 invisible inline-block px-3 py-2 text-sm font-medium text-gray-900 border border-gray-200 rounded-lg shadow-sm opacity-0 tooltip -translate-x-1/2 left-1/2 bottom-full mb-2  bg-red-200">
                        <p>{{ output.feedback.notes }}</p>
                    </div>
                {% endif %}
            </div>
        {% endif %}


    </div>

    <div class="items-center justify-center flex px-2 my-auto ml-3 w-[67px] transition-opacity duration-200 ease-in-out opacity-0 outer-group-hover:opacity-100">
        {% if  output.status != output.OutputStatus.ACCEPTED %}
            <button type="button"
                    hx-post="{% url 'output_accept' output.pk %}"
                    hx-swap="none"
                    class="items-center mx-1 text-green-500 border border-green-500 files-push hover:bg-green-700 hover:text-white focus:ring-2 focus:outline-none focus:ring-green-300">
                <svg class="w-4 h-4" aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2" d="m5 12 4.7 4.5 9.3-9"/>
                </svg>
                <span class="sr-only">Accept</span>
            </button>
        {%endif%}
        {% if  output.status != output.OutputStatus.REJECTED %}
        <button type="button"
                hx-get="{% url 'output_reject_modal' output.pk %}"
                hx-target="#htmx-modal"
                data-modal-target="{{ output.pk }}_reject_modal"
                data-modal-toggle="{{ output.pk }}_reject_modal"
                hx-swap="innerHTML"
                class="items-center mx-1 text-center text-red-500 border border-red-500 files-push hover:bg-red-700 hover:text-white focus:ring-2 focus:outline-none focus:ring-red-300">
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M6 18 17.94 6M18 18 6.06 6"/>
            </svg>

            <span class="sr-only">Reject</span>
        </button>
        {% endif %}
    </div>
</div>
