{% load i18n %}
<form hx-post="{% url 'output_reject' output.pk %}">
    {% csrf_token %}
    {% include 'components/forms/error_widget.html' with errors=form.non_field_errors %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div class="mx-2">
            <label for="{{ form.notes.id_for_label }}"
                   class="font-medium text-gray-900 dark:text-white">{{ form.notes.label }}
            </label>
            {{ form.notes }}
            {% include 'components/forms/error_widget.html' with errors=form.notes.errors %}
        </div>
    </div>
    <div class="flex justify-end mx-2">
        {% translate 'Reject' as reject_text %}
        {% include 'components/buttons/submit_with_loader.html' with button_text=reject_text %}
    </div>
</form>
