{% extends "private/_base.html" %}
{% block private_content %}
    {% if page_obj %}

        <!-- title and new space button -->
        <div class="flex items-center justify-between mb-2">
            <h1 class="text-2xl font-bold text-gray-800">Members</h1>
        </div>

        <div class="w-full py-1 mb-2 border-t border-gray-300"></div>

        <section class="flex text-gray-600 body-font">
            <div class="container px-5 mx-auto">

                {% include 'private/organization/team_invitation_form.html' with form=invite_form %}
                <div class="flex flex-wrap -m-4">
                    <!-- For Loop for spaces cards -->
                    {% for user_org in page_obj %}
                        <div class="flex w-full p-4 md:w-1/2">
                            <div class="flex flex-col p-5 pt-3 transition-transform duration-150 ease-in-out border border-gray-200 shadow-md grow hover:shadow-xl">
                                <div class="flex justify-end mt-auto">
                                    {% if user_org.user != request.user and user_org.user != user_org.organization.created_by %}
                                        <form action="{% url 'remove_team_member' user_org.pk %}"
                                              method="POST">
                                            {% csrf_token %}
                                            <button type="submit"
                                                    class="remove-member-alert inline-flex px-2 py-2 text-sm items-center border shadow cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                                <svg class="w-4 h-4 text-gray-800 dark:text-white mr-2"
                                                     aria-hidden="true"
                                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          stroke-width="2" d="M6 18 18 6m0 12L6 6"/>
                                                </svg>
                                                Remove
                                            </button>
                                        </form>
                                    {% endif %}

                                </div>

                                <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ user_org.user.email }}</h5>


                            </div>
                        </div>
                    {% endfor %}


                </div>
            </div>
        </section>

        {% include 'components/pagination.html' with objs_name='Members' %}
    {% else %}
        <div class="flex flex-col items-center justify-center mt-10">
            <p class="mb-3 text-2xl text-center text-gray-500">There are no users yet</p>
        </div>
    {% endif %}
    {% if invitations %}
        <div class="flex items-center justify-between mb-2">
            <h1 class="text-2xl font-bold text-gray-800">Pending invitations</h1>
        </div>
        {% for invitation in invitations %}
            <div class="flex w-full p-4 md:w-1/2">
                <div class="flex flex-col p-5 pt-3  bg-gray-100 transition-transform duration-150 ease-in-out border border-gray-200 shadow-md grow hover:shadow-xl">
                    <div class="flex justify-end mt-auto">
                        <form action="{% url 'revoke_invitation' invitation.pk %}"
                              method="POST">
                            {% csrf_token %}
                            <button type="submit"
                                    class="revoke-invitation-alert inline-flex px-2 py-2 text-sm items-center border shadow cursor-pointer hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">
                                <svg class="w-4 h-4 text-gray-800 dark:text-white mr-2" aria-hidden="true"
                                     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="M6 18 18 6m0 12L6 6"/>
                                </svg>
                                Revoke
                            </button>
                        </form>

                    </div>

                    <h5 class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white">{{ invitation.email }}</h5>


                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock private_content %}
